<a href="https://colab.research.google.com/github/nyksrox/NIKHILR/blob/master/Concatenation_Excel_Files_April.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
print("a")

a

In [ ]:
import os, glob

path = "C:/Users/nikhilran/Desktop/Molina/Collated Data/Data/April/"
print(path)

C:/Users/nikhilran/Desktop/Molina/Collated Data/Data/April/

In [ ]:
all_files = glob.glob(os.path.join(path, "Inventory dump 04*.xlsx"))

In [ ]:
df_merged = (pd.read_excel(f) for f in all_files)
df_merged1   = pd.concat(df_merged, ignore_index=True)
df_merged1.to_csv( "C:/Users/nikhilran/Desktop/Molina/Collated Data/Data/April/mergedMarch.csv")

C:\ProgramData\Anaconda\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

In [ ]:
dfnew = pd.read_csv("C:/Users/nikhilran/Desktop/Singing River BD/merged.csv")

C:\ProgramData\Anaconda\lib\site-packages\IPython\core\interactiveshell.py:3049: DtypeWarning: Columns (25,36,38,47,59,69) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [ ]:
print(dfnew["FACS #"].count())

2745253

In [ ]:
df_new = dfnew.drop_duplicates('FACS #',keep = 'first')

In [ ]:
print(df_new["FACS #"].count())

94329

In [ ]:
df_new.to_csv("C:/Users/nikhilran/Desktop/Singing River BD/uniquemerged.csv")

In [ ]:
df = pd.read_csv("C:/Users/nikhilran/Desktop/Singing River BD/uniquemerged.csv")

In [ ]:
d = pd.read_csv("C:\\Users\\nikhilran\\Desktop\\Singing River BD\\new_final_payments_data.csv")

In [ ]:
df = df.assign(result=df['FACS #'].isin(d['ACCOUNT_NUM']).astype(int))

In [ ]:
print(df.dtypes)

Unnamed: 0           int64
Unnamed: 0.1         int64
ACCOUNT TYPE       float64
ACCT STATUS         object
ADMIT DT            object
ADMIT TYPE         float64
AGENCY CODE        float64
ALL INS ADJS       float64
ALL INS PMTS       float64
AMT PDUE 12 MNT      int64
ASSGN INDICATOR    float64
BCARD HIGH CRDT      int64
BNKCRD AVLBLE        int64
CALLS                int64
CASE NUM           float64
CHAPTER            float64
CHARGES            float64
CITY                object
CLIENT NAME         object
COMISSION RATE     float64
CRB TU              object
DEPARTMENT          object
DETAIL INVOICE      object
DETAIL SEQ NUM     float64
DG01 NUM DEROG       int64
DIAGNOSIS CODE     float64
DISP                object
DOB                 object
DOD                float64
DRG CODE           float64
                    ...
PRI PROC CODE      float64
PRI PROC DATE      float64
PRIO DIAG CODE     float64
PROC CODE 1        float64
PT AREA            float64
PT MS               object
PT PF               object
PT REP CODE         object
PT SEX              object
PT TYPE LB          object
PT VIP ID          float64
RP AREA            float64
RP PF               object
SEED #               int64
SERIES NUM         float64
SERVICE AREA        object
STATE               object
Service Code        object
Service Descr       object
Service Locatn      object
Service Type        object
TU SCORE           float64
Total Paid         float64
Unnamed: 48        float64
Unnamed: 49        float64
Unnamed: 71        float64
Unnamed: 72        float64
VISIT ID           float64
ZIP5               float64
result               int32
Length: 81, dtype: object

In [ ]:
df.to_csv("C:/Users/nikhilran/Desktop/Singing River BD/Puniquemerged.csv")

In [ ]:
df1 = pd.read_csv("C:/Users/nikhilran/Desktop/Singing River BD/Puniquemerged.csv")

C:\ProgramData\Anaconda\lib\site-packages\IPython\core\interactiveshell.py:3049: DtypeWarning: Columns (27,38,40,49,61,71) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [ ]:
print(df1.describe())

         Unnamed: 0  Unnamed: 0.1  Unnamed: 0.1.1  ACCOUNT TYPE  ADMIT TYPE  \
count  94329.000000  9.432900e+04    9.432900e+04           0.0         0.0
mean   47164.000000  4.600090e+05    4.600090e+05           NaN         NaN
std    27230.581108  7.627733e+05    7.627733e+05           NaN         NaN
min        0.000000  0.000000e+00    0.000000e+00           NaN         NaN
25%    23582.000000  2.358200e+04    2.358200e+04           NaN         NaN
50%    47164.000000  7.852200e+04    7.852200e+04           NaN         NaN
75%    70746.000000  5.563740e+05    5.563740e+05           NaN         NaN
max    94328.000000  2.745247e+06    2.745247e+06           NaN         NaN

       AGENCY CODE  ALL INS ADJS  ALL INS PMTS  AMT PDUE 12 MNT  \
count          0.0       27707.0       27707.0     94329.000000
mean           NaN           0.0           0.0       106.287483
std            NaN           0.0           0.0      1871.902635
min            NaN           0.0           0.0         0.000000
25%            NaN           0.0           0.0         0.000000
50%            NaN           0.0           0.0         0.000000
75%            NaN           0.0           0.0         0.000000
max            NaN           0.0           0.0    309665.000000

       ASSGN INDICATOR  ...  SERIES NUM      TU SCORE     Total Paid  \
count              0.0  ...         0.0  75794.000000   94329.000000
mean               NaN  ...         NaN    663.479642    -588.468654
std                NaN  ...         NaN     88.879911    2828.095878
min                NaN  ...         NaN    273.000000 -215000.000000
25%                NaN  ...         NaN    605.000000    -196.440000
50%                NaN  ...         NaN    658.000000       0.000000
75%                NaN  ...         NaN    716.000000       0.000000
max                NaN  ...         NaN    850.000000    9797.000000

       Unnamed: 48  Unnamed: 49  Unnamed: 71  Unnamed: 72  VISIT ID  \
count          0.0          0.0          0.0          0.0       0.0
mean           NaN          NaN          NaN          NaN       NaN
std            NaN          NaN          NaN          NaN       NaN
min            NaN          NaN          NaN          NaN       NaN
25%            NaN          NaN          NaN          NaN       NaN
50%            NaN          NaN          NaN          NaN       NaN
75%            NaN          NaN          NaN          NaN       NaN
max            NaN          NaN          NaN          NaN       NaN

               ZIP5        result
count  89558.000000  94329.000000
mean   39643.670392      0.035800
std     3686.154530      0.185793
min       20.000000      0.000000
25%    39553.000000      0.000000
50%    39563.000000      0.000000
75%    39565.000000      0.000000
max    99716.000000      1.000000

[8 rows x 53 columns]

In [ ]:
print(df1.dtypes)

Unnamed: 0           int64
Unnamed: 0.1         int64
Unnamed: 0.1.1       int64
ACCOUNT TYPE       float64
ACCT STATUS         object
ADMIT DT            object
ADMIT TYPE         float64
AGENCY CODE        float64
ALL INS ADJS       float64
ALL INS PMTS       float64
AMT PDUE 12 MNT      int64
ASSGN INDICATOR    float64
BCARD HIGH CRDT      int64
BNKCRD AVLBLE        int64
CALLS                int64
CASE NUM           float64
CHAPTER            float64
CHARGES            float64
CITY                object
CLIENT NAME         object
COMISSION RATE     float64
CRB TU              object
DEPARTMENT          object
DETAIL INVOICE      object
DETAIL SEQ NUM     float64
DG01 NUM DEROG       int64
DIAGNOSIS CODE     float64
DISP                object
DOB                 object
DOD                float64
                    ...
PRI PROC CODE      float64
PRI PROC DATE      float64
PRIO DIAG CODE     float64
PROC CODE 1        float64
PT AREA            float64
PT MS               object
PT PF               object
PT REP CODE         object
PT SEX              object
PT TYPE LB          object
PT VIP ID          float64
RP AREA            float64
RP PF               object
SEED #               int64
SERIES NUM         float64
SERVICE AREA        object
STATE               object
Service Code        object
Service Descr       object
Service Locatn      object
Service Type        object
TU SCORE           float64
Total Paid         float64
Unnamed: 48        float64
Unnamed: 49        float64
Unnamed: 71        float64
Unnamed: 72        float64
VISIT ID           float64
ZIP5               float64
result               int64
Length: 82, dtype: object

In [ ]:
df_final = df1[['ZIP5','FC','DOB','CITY','STATE','INIT BAL','CHARGES','CLIENT NAME','Service Type','PT SEX','PT MS','LIST DT','PT AREA','ADMIT DT','DSCHG DT','TU SCORE','BCARD HIGH CRDT','AMT PDUE 12 MNT','Service Locatn','result']]

In [ ]:
df_final1 = df_final[df_final['Service Type']=='HB']

In [ ]:
df_final2 = df_final[df_final['Service Type']=='PB']

In [ ]:
print(df_final1.dtypes)

ZIP5               float64
FC                  object
DOB                 object
CITY                object
STATE               object
INIT BAL           float64
CHARGES            float64
CLIENT NAME         object
Service Type        object
PT SEX              object
PT MS               object
LIST DT             object
PT AREA            float64
ADMIT DT            object
DSCHG DT            object
TU SCORE           float64
BCARD HIGH CRDT      int64
AMT PDUE 12 MNT      int64
Service Locatn      object
result               int64
dtype: object

In [ ]:
from sklearn import preprocessing

In [ ]:
le = preprocessing.LabelEncoder()
df_final1['STATE'] = le.fit_transform(df_final1['STATE'].astype(str))

C:\ProgramData\Anaconda\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [ ]:
df_final1['FC'] = le.fit_transform(df_final1['FC'].astype(str))
df_final1['CITY'] = le.fit_transform(df_final1['CITY'].astype(str))
df_final1['CLIENT NAME'] = le.fit_transform(df_final1['CLIENT NAME'].astype(str))
df_final1['Service Locatn'] = le.fit_transform(df_final1['STATE'].astype(str))
df_final1['PT MS'] = le.fit_transform(df_final1['PT MS'].astype(str))
df_final1['PT SEX'] = le.fit_transform(df_final1['PT SEX'].astype(str))

C:\ProgramData\Anaconda\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
C:\ProgramData\Anaconda\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\ProgramData\Anaconda\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\ProgramData\Anaconda\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
C:\ProgramData\Anaconda\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
C:\ProgramData\Anaconda\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [ ]:
print(df_final1.dtypes)

ZIP5               float64
FC                   int32
DOB                 object
CITY                 int32
STATE                int32
INIT BAL           float64
CHARGES            float64
CLIENT NAME          int32
Service Type        object
PT SEX               int32
PT MS                int32
LIST DT             object
PT AREA            float64
ADMIT DT            object
DSCHG DT            object
TU SCORE           float64
BCARD HIGH CRDT      int64
AMT PDUE 12 MNT      int64
Service Locatn       int32
result               int64
dtype: object

In [ ]:
## handling dates

df_new['LIST DT']=pd.to_datetime(df_new['LIST DT'])
#df_new['LIST DT'] = df_new['LIST DT'].apply(lambda x: x.toordinal())

df_new['ADMIT DT']=pd.to_datetime(df_new['ADMIT DT'])
#df_new['ADMIT DT'] = df_new['ADMIT DT'].apply(lambda x: x.toordinal())

df_new['DSCHG DT']=pd.to_datetime(df_new['DSCHG DT'])
#df_new['DSCHG DT'] = df_new['DSCHG DT'].apply(lambda x: x.toordinal())

df_new['DOB']=pd.to_datetime(df_new['DOB'])
#df_new['DOB'] = df_new['DOB'].apply(lambda x: x.toordinal())

C:\ProgramData\Anaconda\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\ProgramData\Anaconda\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\ProgramData\Anaconda\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
C:\ProgramData\Anaconda\lib\site-packages\ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if sys.path[0] == '':

In [ ]:
print(df_new.dtypes)

ZIP5                      float64
FC                          int32
DOB                datetime64[ns]
CITY                        int32
STATE                       int32
INIT BAL                  float64
CHARGES                   float64
CLIENT NAME                 int32
PT SEX                      int32
PT MS                       int32
LIST DT            datetime64[ns]
PT AREA                   float64
ADMIT DT           datetime64[ns]
DSCHG DT           datetime64[ns]
TU SCORE                  float64
BCARD HIGH CRDT             int64
AMT PDUE 12 MNT           float64
Service Locatn              int32
result                      int64
dtype: object

In [ ]:
## Calculating patient age and issue age
import numpy as np
df_final1['AGE'] = (pd.datetime.now() - pd.to_datetime(df_final1['DOB']))
df_final1['AGE_ISSUE'] = (pd.datetime.now() - pd.to_datetime(df_final1['LIST DT']))
df_final1['SL'] = (pd.to_datetime(df_final1['ADMIT DT']) - pd.to_datetime(df_final1['DSCHG DT']))
#print(df['AGE'].dtype)
df_final1['AGE'].astype('timedelta64[D]')
df_final1['AGE_ISSUE'].astype('timedelta64[D]')

C:\ProgramData\Anaconda\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\ProgramData\Anaconda\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
C:\ProgramData\Anaconda\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

2        735.0
8        735.0
18       735.0
38       726.0
39       726.0
41       726.0
42       726.0
43       726.0
44       726.0
46       726.0
53       726.0
55       726.0
57       726.0
59       726.0
76       726.0
91       721.0
100      701.0
1309     678.0
1310     678.0
1311     678.0
1312     678.0
1313     678.0
1314     678.0
1315     678.0
1316     678.0
1317     678.0
1318     678.0
1319     678.0
1320     678.0
1321     678.0
         ...
94221     16.0
94222     16.0
94223     16.0
94224     16.0
94225     16.0
94226     16.0
94227     16.0
94228     16.0
94229     16.0
94231     16.0
94232     16.0
94235     16.0
94236     16.0
94240     16.0
94241     16.0
94242     16.0
94243     16.0
94247     16.0
94255      9.0
94256     15.0
94261      9.0
94263      9.0
94264      9.0
94265      9.0
94269      9.0
94273      9.0
94275      9.0
94284     12.0
94310      9.0
94324      9.0
Name: AGE_ISSUE, Length: 18328, dtype: float64

In [ ]:
df_final1['AGE'] = (df_final1['AGE'] - df_final1['AGE'].min()).apply(lambda x: x.days)
df_final1['AGE_ISSUE'] = (df_final1['AGE_ISSUE'] - df_final1['AGE_ISSUE'].min()).apply(lambda x: x.days)
df_final1['SL'] = (df_final1['SL'] - df_final1['SL'].min()).apply(lambda x: x.days)

C:\ProgramData\Anaconda\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
C:\ProgramData\Anaconda\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\ProgramData\Anaconda\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [ ]:
#df_new.drop(['DOB','LIST DT'], axis=1,inplace=True)
print(df_final1.dtypes)

ZIP5               float64
FC                   int32
DOB                 object
CITY                 int32
STATE                int32
INIT BAL           float64
CHARGES            float64
CLIENT NAME          int32
Service Type        object
PT SEX               int32
PT MS                int32
LIST DT             object
PT AREA            float64
ADMIT DT            object
DSCHG DT            object
TU SCORE           float64
BCARD HIGH CRDT      int64
AMT PDUE 12 MNT      int64
Service Locatn       int32
result               int64
AGE                  int64
AGE_ISSUE            int64
SL                 float64
dtype: object

In [ ]:
df_final1.drop(['DOB','LIST DT','ADMIT DT','DSCHG DT','Service Type'],axis=1,inplace=True)

C:\ProgramData\Anaconda\lib\site-packages\pandas\core\frame.py:3940: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [ ]:
print(df_final1.dtypes)

ZIP5               float64
FC                   int32
CITY                 int32
STATE                int32
INIT BAL           float64
CHARGES            float64
CLIENT NAME          int32
PT SEX               int32
PT MS                int32
PT AREA            float64
TU SCORE           float64
BCARD HIGH CRDT      int64
AMT PDUE 12 MNT      int64
Service Locatn       int32
result               int64
AGE                  int64
AGE_ISSUE            int64
SL                 float64
dtype: object

In [ ]:
pd.isnull(df_final1).sum() > 0

ZIP5                True
FC                 False
CITY               False
STATE              False
INIT BAL           False
CHARGES            False
CLIENT NAME        False
PT SEX             False
PT MS              False
PT AREA             True
TU SCORE            True
BCARD HIGH CRDT    False
AMT PDUE 12 MNT    False
Service Locatn     False
result             False
AGE                False
AGE_ISSUE          False
SL                  True
dtype: bool

In [ ]:
from sklearn.impute import SimpleImputer
imp = SimpleImputer(strategy="most_frequent")
data = pd.DataFrame(imp.fit_transform(df_final1),columns=df_final1.columns, index=df_final1.index)

In [ ]:
pd.isnull(data).sum() > 0

ZIP5               False
FC                 False
CITY               False
STATE              False
INIT BAL           False
CHARGES            False
CLIENT NAME        False
PT SEX             False
PT MS              False
PT AREA            False
TU SCORE           False
BCARD HIGH CRDT    False
AMT PDUE 12 MNT    False
Service Locatn     False
result             False
AGE                False
AGE_ISSUE          False
SL                 False
dtype: bool

In [ ]:
data.to_csv("C:\\Users\\nikhilran\\Desktop\\Singing River BD\\HBNewFinal_SingingRiversBD.csv")

In [ ]:
X = data.drop('result',axis=1)
y = data['result']

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [ ]:
from sklearn.ensemble import RandomForestClassifier
# random forest model creation
rfc = RandomForestClassifier()
clf = rfc.fit(X_train,y_train)

C:\ProgramData\Anaconda\lib\site-packages\sklearn\ensemble\forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

In [ ]:
y_pred = clf.predict(X_test)
import sklearn
Accuracy = sklearn.metrics.accuracy_score(y_test,y_pred)
acc = Accuracy*100
print(acc)

97.58637791370475

In [ ]:
probTest1 = clf.predict_proba(X_test)
prob_Test1 = probTest1[:,1]

In [ ]:
## Train AUC
from sklearn.metrics import roc_curve
from sklearn.metrics import roc_auc_score

auc1 = roc_auc_score(y_test,prob_Test1)
print('AUC: %.2f' % auc1)

AUC: 0.74