<a href="https://colab.research.google.com/github/nyksrox/NIKHILR/blob/master/DataManagementXGBoost.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import xgboost as xgb
import pandas as pd

In [0]:
from numpy import loadtxt
from xgboost import XGBClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [0]:
import statistics as st

In [6]:
## loading data from desktop
from google.colab import files
uploaded = files.upload()

Saving JMH_Data.csv to JMH_Data.csv

In [7]:
## converting into dataframe
import io
df = pd.read_csv(io.BytesIO(uploaded['JMH_Data.csv']))

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (69,71) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [8]:
## Calculating patient age and issue age
import numpy as np
df['AGE'] = (pd.datetime.now() - pd.to_datetime(df['DOB']))
df['AGE_ISSUE'] = (pd.datetime.now() - pd.to_datetime(df['LIST DT']))
#print(df['AGE'].dtype)
df['AGE'].astype('timedelta64[D]')
df['AGE_ISSUE'].astype('timedelta64[D]')

0        701.0
1        778.0
2        778.0
3        778.0
4        778.0
         ...
56111    415.0
56112    415.0
56113    415.0
56114    415.0
56115    415.0
Name: AGE_ISSUE, Length: 56116, dtype: float64

In [10]:
print(df.dtypes)

FACS #                      int64
DISP                       object
CALLS                       int64
DU413_CALLS                 int64
ZIP5                      float64
                       ...
PROC CODE 2                object
IA SCORE                   object
Payment Status              int64
AGE               timedelta64[ns]
AGE_ISSUE         timedelta64[ns]
Length: 77, dtype: object

In [0]:
## handling dates

df['LIST DT']=pd.to_datetime(df['LIST DT'])
df['LIST DT'] = df['LIST DT'].apply(lambda x: x.toordinal())

df['ADMIT DT']=pd.to_datetime(df['ADMIT DT'])
df['ADMIT DT'] = df['ADMIT DT'].apply(lambda x: x.toordinal())

df['DSCHG DT']=pd.to_datetime(df['DSCHG DT'])
df['DSCHG DT'] = df['DSCHG DT'].apply(lambda x: x.toordinal())

df['DOB']=pd.to_datetime(df['DOB'])
df['DOB'] = df['DOB'].apply(lambda x: x.toordinal())

In [0]:
## Filling NaTs in datetimecolumns in priproc date and accident date


df['PRI PROC DATE']=pd.to_datetime(df['PRI PROC DATE'])
df['ACCIDENT DATE']=pd.to_datetime(df['ACCIDENT DATE'])

end = pd.to_datetime('2017-12-15')

df['PRI PROC DATE'].fillna(end,inplace=True)
df['ACCIDENT DATE'].fillna(end,inplace=True)

#df['ACCIDENT DATE'].isnull()
#df['PRI PROC DATE'].isnull()

In [0]:
## Converting Accident Date and PriProc Date into Dates and Ordinal
df['ACCIDENT DATE']=pd.to_datetime(df['ACCIDENT DATE'])
df['ACCIDENT DATE'] = df['ACCIDENT DATE'].apply(lambda x: x.toordinal())

df['PRI PROC DATE']=pd.to_datetime(df['PRI PROC DATE'])
df['PRI PROC DATE'] = df['PRI PROC DATE'].apply(lambda x: x.toordinal())

In [0]:
## handling object data type (looking for non numeric values in supposedly numeric columns
for x in range(0,56115):
  if (str.isdecimal(df.iloc[x,1])) == False :
    df.iloc[x,1] = st.mode(df.iloc[:,1])

In [0]:
## handling blank space in supposedly numeric columns

for x in range(0,56115):
  if df.iloc[x,2] == '':  
    df.iloc[x,2] = st.mode(df.iloc[:,2])
  if df.iloc[x,3] == '':
    df.iloc[x,3] = st.mode(df.iloc[:,3])
  if df.iloc[x,4] == '':
    df.iloc[x,4] = st.mode(df.iloc[:,4])
  if df.iloc[x,5] == '':
    df.iloc[x,5] = st.mode(df.iloc[:,5])
  if df.iloc[x,9] == '':
    df.iloc[x,9] = st.mode(df.iloc[:,9])
  if df.iloc[x,10] == '':
    df.iloc[x,10] = st.mode(df.iloc[:,10])
  if df.iloc[x,15] == '':
    df.iloc[x,15] = st.mode(df.iloc[:,15])
  if df.iloc[x,17] == '':
    df.iloc[x,17] = st.mode(df.iloc[:,17])
  if df.iloc[x,17] == '':
    df.iloc[x,17] = st.mode(df.iloc[:,17])
  if df.iloc[x,22] == '':
    df.iloc[x,22] = st.mode(df.iloc[:,22])
  if df.iloc[x,23] == '':
    df.iloc[x,23] = st.mode(df.iloc[:,23])
  if df.iloc[x,24] == '':
    df.iloc[x,24] = st.mode(df.iloc[:,24])
  if df.iloc[x,25] == '':
    df.iloc[x,25] = st.mode(df.iloc[:,25])
  if df.iloc[x,26] == '':
    df.iloc[x,26] = st.mode(df.iloc[:,26])
  if df.iloc[x,27] == '':
    df.iloc[x,27] = st.mode(df.iloc[:,27])
  if df.iloc[x,30] == '':
    df.iloc[x,30] = st.mode(df.iloc[:,30])
  if df.iloc[x,31] == '':
    df.iloc[x,31] = st.mode(df.iloc[:,31])
  if df.iloc[x,33] == '':
    df.iloc[x,33] = st.mode(df.iloc[:,33])
  if df.iloc[x,35] == '':
    df.iloc[x,35] = st.mode(df.iloc[:,35])
  if df.iloc[x,37] == '':
    df.iloc[x,37] = st.mode(df.iloc[:,37])
  if df.iloc[x,38] == '':
    df.iloc[x,38] = st.mode(df.iloc[:,38])
## For DOD
  if df.iloc[x,39] == '':
    df.iloc[x,39] = st.mode(df.iloc[:,39])  
  if df.iloc[x,41] == '':
    df.iloc[x,41] = st.mode(df.iloc[:,41])
  if df.iloc[x,44] == '':
    df.iloc[x,44] = st.mode(df.iloc[:,44])
  if df.iloc[x,45] == '':
    df.iloc[x,45] = st.mode(df.iloc[:,45])
  if df.iloc[x,46] == '':
    df.iloc[x,46] = st.mode(df.iloc[:,46])
  if df.iloc[x,47] == '':
    df.iloc[x,47] = st.mode(df.iloc[:,47])
  if df.iloc[x,48] == '':
    df.iloc[x,48] = st.mode(df.iloc[:,48])
  if df.iloc[x,55] == '':
    df.iloc[x,55] = st.mode(df.iloc[:,55])
  if df.iloc[x,57] == '':
    df.iloc[x,57] = st.mode(df.iloc[:,57])
  if df.iloc[x,67] == '':
    df.iloc[x,67] = st.mode(df.iloc[:,67])
## For DRG CODE
  if df.iloc[x,68] == '':
    df.iloc[x,68] = st.mode(df.iloc[:,68])    
  

    #df['ACCIDENT DATE']=pd.to_datetime(df['ACCIDENT DATE'])
#df['ACCIDENT DATE'] = df['ACCIDENT DATE'].apply(lambda x: x.toordinal())

#df['PRI PROC DATE']=pd.to_datetime(df['PRI PROC DATE'])
#df['PRI PROC DATE'] = df['PRI PROC DATE'].apply(lambda x: x.toordinal())

In [0]:
#print(df['AGE_ISSUE'])

In [0]:
from sklearn import preprocessing

In [0]:
#enc = preprocessing.OneHotEncoder(handle_unknown='ignore')

In [0]:
le = preprocessing.LabelEncoder()
df['STATE'] = le.fit_transform(df['STATE'].astype(str))

In [0]:
df['CITY'] = le.fit_transform(df['STATE'].astype(str))

In [0]:
df['PT SEX'] = le.fit_transform(df['PT SEX'].astype(str))

In [0]:
df['PT MS'] = le.fit_transform(df['PT MS'].astype(str))

In [0]:
df['PT PF'] = le.fit_transform(df['PT PF'].astype(str))
df['RP PF'] = le.fit_transform(df['RP PF'].astype(str))
df['ADMIT TYPE'] = le.fit_transform(df['ADMIT TYPE'].astype(str))
df['F/C'] = le.fit_transform(df['F/C'].astype(str))
df['INS CO NAME'] = le.fit_transform(df['INS CO NAME'].astype(str))
df['LD CAUSE'] = le.fit_transform(df['LD CAUSE'].astype(str))
df['AGENCY CODE'] = le.fit_transform(df['AGENCY CODE'].astype(str))
df['Service Locatn'] = le.fit_transform(df['Service Locatn'].astype(str))
df['IA SCORE'] = le.fit_transform(df['IA SCORE'].astype(str))
df['ASSGN INDICATOR'] = le.fit_transform(df['ASSGN INDICATOR'].astype(str))
df['CHAPTER'] = le.fit_transform(df['CHAPTER'].astype(str))
df['FLD DATA 1'] = le.fit_transform(df['FLD DATA 1'].astype(str))
df['CLIENT NAME'] = le.fit_transform(df['CLIENT NAME'].astype(str))

In [0]:
df.drop(["FACS #"],inplace = True,axis=1)
df.drop(["FC"],inplace = True,axis=1)
df.drop(["ADMTING DIAGNOS"],inplace = True,axis=1)
df.drop(["RELEASE INDICAT"],inplace = True,axis=1)
df.drop(["LOCATION CODE"],inplace = True,axis=1)
df.drop(["ACCOUNT TYPE"],inplace = True,axis=1)
df.drop(["PRIMRY LANGUAGE"],inplace = True,axis=1)
df.drop(["CRB TU"],inplace = True,axis=1)
df.drop(["POE NAME"],inplace = True,axis=1)
df.drop(["FLD DATA 1"],inplace = True,axis=1)
df.drop(["INS CO PHONE#"],inplace = True,axis=1)
df.drop(["Doctor Physicn"],inplace = True,axis=1)
df.drop(["ETHNIC GROUP"],inplace = True,axis=1)
df.drop(["INS CO NAME213"],inplace = True,axis=1)
df.drop(["INS CO NAME214"],inplace = True,axis=1)
df.drop(["INSURANCE CO215"],inplace = True,axis=1)
df.drop(["INSURANCE CO216"],inplace = True,axis=1)
df.drop(["PTNTL GD INS #1"],inplace = True,axis=1)
df.drop(["PTNTL GD INS #2"],inplace = True,axis=1)
df.drop(["PTNTL GD INS #3"],inplace = True,axis=1)
df.drop(["PTNTL GD INS #4"],inplace = True,axis=1)
df.drop(["PRI DIAG CODE"],inplace = True,axis=1)
df.drop(["PRI PROC CODE"],inplace = True,axis=1)
df.drop(["PROC CODE 1"],inplace = True,axis=1)
df.drop(["PROC CODE 2"],inplace = True,axis=1)
df.drop(["DOD"],inplace = True,axis=1)
df.drop(["RP AREA"],inplace = True,axis=1)
df.drop(["VISIT ID"],inplace = True,axis=1)

In [25]:
pd.to_numeric(df['DISP'])
print(df.dtypes)

DISP                        object
CALLS                        int64
DU413_CALLS                  int64
ZIP5                       float64
DOB                          int64
CITY                         int64
STATE                        int64
INIT BAL                   float64
CHARGES                    float64
CLIENT NAME                  int64
PT SEX                       int64
PT MS                        int64
LIST DT                      int64
PT AREA                    float64
PT PF                        int64
RP PF                        int64
SEED #                       int64
ADMIT DT                     int64
DSCHG DT                     int64
TU SCORE                     int64
BNKCRD AVLBLE                int64
AMT PDUE 12 MNT              int64
NUM DEROGAT ITM              int64
TOTL PRIOR PMTS              int64
ADMIT TYPE                   int64
ASSGN INDICATOR              int64
F/C                          int64
INS CO NAME                  int64
CHAPTER                      int64
LD CAUSE                     int64
BCARD HIGH CRDT              int64
AGENCY CODE                  int64
ACCIDENT DATE                int64
PAT TOT PMTS               float64
PAT TOT ADJS               float64
ALL INS PMTS               float64
ALL INS ADJS               float64
ACCT TOT CHRGS             float64
VISIT ID                   float64
COMISSION RATE               int64
SERIES NUM                   int64
Service Locatn               int64
Total Paid                 float64
Service Type                 int64
DRG CODE                   float64
PRI PROC DATE                int64
IA SCORE                     int64
Payment Status               int64
AGE                timedelta64[ns]
AGE_ISSUE          timedelta64[ns]
dtype: object

In [0]:
df['DISP'] = df['DISP'].astype('int')
df['AGE'] = df['AGE'].astype('int')
df['AGE_ISSUE'] = df['AGE_ISSUE'].astype('int')

In [27]:
print(df.dtypes)

DISP                 int64
CALLS                int64
DU413_CALLS          int64
ZIP5               float64
DOB                  int64
CITY                 int64
STATE                int64
INIT BAL           float64
CHARGES            float64
CLIENT NAME          int64
PT SEX               int64
PT MS                int64
LIST DT              int64
PT AREA            float64
PT PF                int64
RP PF                int64
SEED #               int64
ADMIT DT             int64
DSCHG DT             int64
TU SCORE             int64
BNKCRD AVLBLE        int64
AMT PDUE 12 MNT      int64
NUM DEROGAT ITM      int64
TOTL PRIOR PMTS      int64
ADMIT TYPE           int64
ASSGN INDICATOR      int64
F/C                  int64
INS CO NAME          int64
CHAPTER              int64
LD CAUSE             int64
BCARD HIGH CRDT      int64
AGENCY CODE          int64
ACCIDENT DATE        int64
PAT TOT PMTS       float64
PAT TOT ADJS       float64
ALL INS PMTS       float64
ALL INS ADJS       float64
ACCT TOT CHRGS     float64
VISIT ID           float64
COMISSION RATE       int64
SERIES NUM           int64
Service Locatn       int64
Total Paid         float64
Service Type         int64
DRG CODE           float64
PRI PROC DATE        int64
IA SCORE             int64
Payment Status       int64
AGE                  int64
AGE_ISSUE            int64
dtype: object

In [0]:
from google.colab import files
df.to_csv('NewHealthCare.csv') 
files.download('NewHealthCare.csv')

In [0]:
#print(len(df.columns))
#print(df.count(0))

In [34]:
## dropping column which did not have any value and was creating problem for the next line imputation(number of columns was coming different in index and in value)
#df.drop(["VISIT ID"],inplace = True,axis=1)
df.isna()

        DISP  CALLS  DU413_CALLS  ...  Payment Status    AGE  AGE_ISSUE
0      False  False        False  ...           False  False      False
1      False  False        False  ...           False  False      False
2      False  False        False  ...           False  False      False
3      False  False        False  ...           False  False      False
4      False  False        False  ...           False  False      False
...      ...    ...          ...  ...             ...    ...        ...
56111  False  False        False  ...           False  False      False
56112  False  False        False  ...           False  False      False
56113  False  False        False  ...           False  False      False
56114  False  False        False  ...           False  False      False
56115  False  False        False  ...           False  False      False

[56116 rows x 49 columns]

In [0]:
from sklearn.impute import SimpleImputer
imp = SimpleImputer(strategy="most_frequent")
data1 = pd.DataFrame(imp.fit_transform(df),columns=df.columns, index=df.index)

In [0]:
x = df.drop(columns=['Payment Status'])

In [0]:
y = df['Payment Status']

In [0]:
from sklearn.model_selection import train_test_split

In [0]:
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.33, random_state=42)

In [39]:
print(X_train.dtypes)

DISP                 int64
CALLS                int64
DU413_CALLS          int64
ZIP5               float64
DOB                  int64
CITY                 int64
STATE                int64
INIT BAL           float64
CHARGES            float64
CLIENT NAME          int64
PT SEX               int64
PT MS                int64
LIST DT              int64
PT AREA            float64
PT PF                int64
RP PF                int64
SEED #               int64
ADMIT DT             int64
DSCHG DT             int64
TU SCORE             int64
BNKCRD AVLBLE        int64
AMT PDUE 12 MNT      int64
NUM DEROGAT ITM      int64
TOTL PRIOR PMTS      int64
ADMIT TYPE           int64
ASSGN INDICATOR      int64
F/C                  int64
INS CO NAME          int64
CHAPTER              int64
LD CAUSE             int64
BCARD HIGH CRDT      int64
AGENCY CODE          int64
ACCIDENT DATE        int64
PAT TOT PMTS       float64
PAT TOT ADJS       float64
ALL INS PMTS       float64
ALL INS ADJS       float64
ACCT TOT CHRGS     float64
COMISSION RATE       int64
SERIES NUM           int64
Service Locatn       int64
Total Paid         float64
Service Type         int64
DRG CODE           float64
PRI PROC DATE        int64
IA SCORE             int64
AGE                  int64
AGE_ISSUE            int64
dtype: object

In [0]:
import xgboost as xgb
import pandas as pd
from numpy import loadtxt
from xgboost import XGBClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [41]:
# fit model no training data
model = XGBClassifier()
model.fit(X_train, y_train)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, gamma=0,
              learning_rate=0.1, max_delta_step=0, max_depth=3,
              min_child_weight=1, missing=None, n_estimators=100, n_jobs=1,
              nthread=None, objective='binary:logistic', random_state=0,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
              silent=None, subsample=1, verbosity=1)

In [0]:
# make predictions for test data
y_pred = model.predict(X_test)
predictions = [round(value) for value in y_pred]

In [45]:
# evaluate predictions
accuracy = accuracy_score(y_test, predictions)
print("Accuracy: %.2f%%" % (accuracy * 100.0))

Accuracy: 90.69%

In [47]:
from sklearn import metrics
cnf_matrix = metrics.confusion_matrix(y_test, y_pred)
print(cnf_matrix)

[[15473   443]
 [ 1281  1322]]