<a href="https://colab.research.google.com/github/nyksrox/NIKHILR/blob/master/Test_xgBoost_26_02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import xgboost as xgb
import pandas as pd
import numpy as np

from numpy import loadtxt
from xgboost import XGBClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

import statistics as st

In [5]:
## loading test data from desktop
from google.colab import files
uploaded = files.upload()

Saving JMH_Full_Analysis.csv to JMH_Full_Analysis.csv

In [43]:
## converting into dataframe
import io
df = pd.read_csv(io.BytesIO(uploaded['JMH_Full_Analysis.csv']))

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (4,13,14,16,18,38,41,55,78) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [44]:
print(df.dtypes)

FACS #                        int64
DISP                         object
CALLS                       float64
DU413_CALLS                 float64
ZIP5                         object
                             ...
Priority                     object
Actual Payments             float64
Actual Status                 int64
Predicted Scores            float64
Predicted Prioritization     object
Length: 83, dtype: object

In [45]:
## Calculating patient age and issue age
import numpy as np
df['AGE'] = (pd.datetime.now() - pd.to_datetime(df['DOB']))
df['AGE_ISSUE'] = (pd.datetime.now() - pd.to_datetime(df['LIST DT']))
#print(df['AGE'].dtype)
df['AGE'].astype('timedelta64[D]')
df['AGE_ISSUE'].astype('timedelta64[D]')

0        394.0
1        394.0
2        394.0
3        394.0
4        394.0
         ...
77518     44.0
77519     44.0
77520     44.0
77521     44.0
77522     44.0
Name: AGE_ISSUE, Length: 77523, dtype: float64

In [0]:
## handling dates

df['LIST DT']=pd.to_datetime(df['LIST DT'])
df['LIST DT'] = df['LIST DT'].apply(lambda x: x.toordinal())

df['ADMIT DT']=pd.to_datetime(df['ADMIT DT'])
df['ADMIT DT'] = df['ADMIT DT'].apply(lambda x: x.toordinal())

df['DSCHG DT']=pd.to_datetime(df['DSCHG DT'])
df['DSCHG DT'] = df['DSCHG DT'].apply(lambda x: x.toordinal())

df['DOB']=pd.to_datetime(df['DOB'])
df['DOB'] = df['DOB'].apply(lambda x: x.toordinal())

In [0]:
## Filling NaTs in datetimecolumns in priproc date and accident date

df.rename(columns={"PRI_PROC_DATE":"PRI PROC DATE"},inplace = True)


df['PRI PROC DATE']=pd.to_datetime(df['PRI PROC DATE'])
df['ACCIDENT DATE']=pd.to_datetime(df['ACCIDENT DATE'])

end = pd.to_datetime('2017-12-15')

df['PRI PROC DATE'].fillna(end,inplace=True)
df['ACCIDENT DATE'].fillna(end,inplace=True)

#df['ACCIDENT DATE'].isnull()
#df['PRI PROC DATE'].isnull()

In [0]:
## Converting Accident Date and PriProc Date into Dates and Ordinal
df['ACCIDENT DATE']=pd.to_datetime(df['ACCIDENT DATE'])
df['ACCIDENT DATE'] = df['ACCIDENT DATE'].apply(lambda x: x.toordinal())

df['PRI PROC DATE']=pd.to_datetime(df['PRI PROC DATE'])
df['PRI PROC DATE'] = df['PRI PROC DATE'].apply(lambda x: x.toordinal())

In [0]:
#df2 = df['DISP']
#df2[0].to_numeric
#print(df2[0].to_decimal)

In [0]:
#print(str.isdecimal(df2[0]))

In [0]:
df["DISP"]= df["DISP"].astype(str)

In [0]:
## handling object data type (looking for non numeric values in supposedly numeric columns ## For DISP
A = len(df.index)
for x in range(0,A):
  #print(df.iloc[x,1])
  if (str.isdigit(df.iloc[x,1])) == False :
    df.iloc[x,1] = st.mode(df.iloc[:,1])
    #print(df.iloc[x,1])

In [0]:
df["DISP"]= df["DISP"].astype(float)

In [0]:
df["ZIP5"]= df["ZIP5"].astype(str)

In [0]:
for x in range(0,A):
  #print(df.iloc[x,1])
  if (str.isdigit(df.iloc[x,4])) == False :
    df.iloc[x,4] = st.mode(df.iloc[:,4])

In [0]:
df["ZIP5"]= df["ZIP5"].astype(float)

In [0]:
df["PT AREA"]= df["PT AREA"].astype(str)

In [0]:
for x in range(0,A):
  #print(df.iloc[x,1])
  if (str.isdigit(df.iloc[x,16])) == False :
    df.iloc[x,16] = st.mode(df.iloc[:,16])

In [0]:
df["PT AREA"]= df["PT AREA"].astype(float)

In [0]:
#df = df1[['DISP','CALLS','DU413_CALLS','ZIP5','DOB','CITY','STATE','INIT BAL','CHARGES','CLIENT NAME','PT SEX','PT MS','LIST DT','PT AREA','PT PF','RP PF','SEED #','ADMIT DT','DSCHG DT','TU SCORE','BNKCRD AVLBLE','AMT PDUE 12 MNT','NUM DEROGAT ITM','TOTL PRIOR PMTS','ADMIT TYPE','ASSGN INDICATOR','F/C','INS CO NAME','CHAPTER','LD CAUSE','BCARD HIGH CRDT','AGENCY CODE','ACCIDENT DATE','PAT TOT PMTS','PAT TOT ADJS','ALL INS PMTS','ALL INS ADJS','ACCT TOT CHRGS','COMISSION RATE','SERIES NUM','Service Locatn','Total Paid','Service Type','DRG CODE','PRI_PROC_DATE']]

In [65]:
## Calculating patient age and issue age
import numpy as np
df['AGE'] = (pd.datetime.now() - pd.to_datetime(df['DOB']))
df['AGE_ISSUE'] = (pd.datetime.now() - pd.to_datetime(df['LIST DT']))
#print(df['AGE'].dtype)
df['AGE'].astype('timedelta64[D]')
df['AGE_ISSUE'].astype('timedelta64[D]')

0        18318.0
1        18318.0
2        18318.0
3        18318.0
4        18318.0
          ...
77518    18318.0
77519    18318.0
77520    18318.0
77521    18318.0
77522    18318.0
Name: AGE_ISSUE, Length: 77523, dtype: float64

In [67]:
print(df.dtypes)

FACS #                                int64
DISP                                float64
CALLS                               float64
DU413_CALLS                         float64
ZIP5                                float64
                                 ...
Actual Status                         int64
Predicted Scores                    float64
Predicted Prioritization             object
AGE                         timedelta64[ns]
AGE_ISSUE                   timedelta64[ns]
Length: 85, dtype: object

In [0]:
## handling dates

df['LIST DT']=pd.to_datetime(df['LIST DT'])
df['LIST DT'] = df['LIST DT'].apply(lambda x: x.toordinal())

df['ADMIT DT']=pd.to_datetime(df['ADMIT DT'])
df['ADMIT DT'] = df['ADMIT DT'].apply(lambda x: x.toordinal())

df['DSCHG DT']=pd.to_datetime(df['DSCHG DT'])
df['DSCHG DT'] = df['DSCHG DT'].apply(lambda x: x.toordinal())

df['DOB']=pd.to_datetime(df['DOB'])
df['DOB'] = df['DOB'].apply(lambda x: x.toordinal())

In [0]:
df['PRI PROC DATE']=pd.to_datetime(df['PRI PROC DATE'])
df['ACCIDENT DATE']=pd.to_datetime(df['ACCIDENT DATE'])

end = pd.to_datetime('2017-12-15')

df['PRI PROC DATE'].fillna(end,inplace=True)
df['ACCIDENT DATE'].fillna(end,inplace=True)

In [0]:
## Converting Accident Date and PriProc Date into Dates and Ordinal
df['ACCIDENT DATE']=pd.to_datetime(df['ACCIDENT DATE'])
df['ACCIDENT DATE'] = df['ACCIDENT DATE'].apply(lambda x: x.toordinal())

df['PRI PROC DATE']=pd.to_datetime(df['PRI PROC DATE'])
df['PRI PROC DATE'] = df['PRI PROC DATE'].apply(lambda x: x.toordinal())

In [0]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
df['STATE'] = le.fit_transform(df['STATE'].astype(str))
df['CITY'] = le.fit_transform(df['STATE'].astype(str))
df['PT SEX'] = le.fit_transform(df['PT SEX'].astype(str))
df['PT MS'] = le.fit_transform(df['PT MS'].astype(str))
df['PT PF'] = le.fit_transform(df['PT PF'].astype(str))
df['RP PF'] = le.fit_transform(df['RP PF'].astype(str))
df['ADMIT TYPE'] = le.fit_transform(df['ADMIT TYPE'].astype(str))
df['F/C'] = le.fit_transform(df['F/C'].astype(str))
df['INS CO NAME'] = le.fit_transform(df['INS CO NAME'].astype(str))
df['LD CAUSE'] = le.fit_transform(df['LD CAUSE'].astype(str))
df['AGENCY CODE'] = le.fit_transform(df['AGENCY CODE'].astype(str))
df['Service Locatn'] = le.fit_transform(df['Service Locatn'].astype(str))
#df['IA SCORE'] = le.fit_transform(df['IA SCORE'].astype(str))
df['ASSGN INDICATOR'] = le.fit_transform(df['ASSGN INDICATOR'].astype(str))
df['CHAPTER'] = le.fit_transform(df['CHAPTER'].astype(str))
df['FLD DATA 1'] = le.fit_transform(df['FLD DATA 1'].astype(str))
df['CLIENT NAME'] = le.fit_transform(df['CLIENT NAME'].astype(str))

In [0]:
df1 = df[['DISP','CALLS','DU413_CALLS','ZIP5','DOB','CITY','STATE','INIT BAL','CHARGES','CLIENT NAME','PT SEX','PT MS','LIST DT','PT AREA','PT PF','RP PF','SEED #','ADMIT DT','DSCHG DT','TU SCORE','BNKCRD AVLBLE','AMT PDUE 12 MNT','NUM DEROGAT ITM','TOTL PRIOR PMTS','ADMIT TYPE','ASSGN INDICATOR','F/C','INS CO NAME','CHAPTER','LD CAUSE','BCARD HIGH CRDT','AGENCY CODE','ACCIDENT DATE','PAT TOT PMTS','PAT TOT ADJS','ALL INS PMTS','ALL INS ADJS','ACCT TOT CHRGS','COMISSION RATE','SERIES NUM','Service Locatn','Total Paid','Service Type','DRG CODE','PRI PROC DATE']]

In [0]:
df = df1

In [74]:
print(df.dtypes)

DISP               float64
CALLS              float64
DU413_CALLS        float64
ZIP5               float64
DOB                  int64
CITY                 int64
STATE                int64
INIT BAL           float64
CHARGES            float64
CLIENT NAME          int64
PT SEX               int64
PT MS                int64
LIST DT              int64
PT AREA            float64
PT PF                int64
RP PF                int64
SEED #               int64
ADMIT DT             int64
DSCHG DT             int64
TU SCORE           float64
BNKCRD AVLBLE        int64
AMT PDUE 12 MNT      int64
NUM DEROGAT ITM      int64
TOTL PRIOR PMTS    float64
ADMIT TYPE           int64
ASSGN INDICATOR      int64
F/C                  int64
INS CO NAME          int64
CHAPTER              int64
LD CAUSE             int64
BCARD HIGH CRDT    float64
AGENCY CODE          int64
ACCIDENT DATE        int64
PAT TOT PMTS       float64
PAT TOT ADJS       float64
ALL INS PMTS       float64
ALL INS ADJS       float64
ACCT TOT CHRGS     float64
COMISSION RATE       int64
SERIES NUM           int64
Service Locatn       int64
Total Paid         float64
Service Type         int64
DRG CODE           float64
PRI PROC DATE        int64
dtype: object

In [0]:
from sklearn.impute import SimpleImputer
imp = SimpleImputer(strategy="most_frequent")
data1 = pd.DataFrame(imp.fit_transform(df),columns=df.columns, index=df.index)