<a href="https://colab.research.google.com/github/nyksrox/NIKHILR/blob/master/Top%2010%20Encoding%20of%20Categorical%20Variables.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import sklearn
import seaborn as sns
import pyodbc

In [ ]:
from pandas.api.types import is_numeric_dtype
import matplotlib.pyplot as plt
from matplotlib.colors import ListedColormap
import math

In [ ]:
connection = pyodbc.connect('Driver={SQL Server};Server=10.115.74.4;DATABASE=AfterPay_V1_AI;Trusted_Connection=Yes;')

In [ ]:
data = pd.DataFrame()
for chunk in pd.read_sql_query('SELECT * FROM AfterPay_V1_AI.[dbo].[tbl_DynamicTemplates_Segments]',connection,chunksize=10000):
    data = pd.concat([data,chunk],axis=0)

In [ ]:
print(data.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 139659 entries, 0 to 9658
Data columns (total 37 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   AcctID              139659 non-null  object
 1   PlaceDate           139659 non-null  datetime64[ns]
 2   CMState             139659 non-null  object
 3   PlaceAmt            139659 non-null  float64
 4   Age_Bracket         139659 non-null  object
 5   TU_Band             139659 non-null  object
 6   Ttl_Prchs_Amt       139659 non-null  float64
 7   Avg_Prchs_Amt       139659 non-null  float64
 8   Max_Prchs_Amt       139659 non-null  float64
 9   Ttl_Pymnt_Pd        139659 non-null  float64
 10  Avg_Pymnt_Pd        139659 non-null  float64
 11  Max_Pymnt_Pd        139659 non-null  float64
 12  Ttl_Pymnt_Ovrd      139659 non-null  float64
 13  Avg_Pymnt_Ovrd      139659 non-null  float64
 14  Max_Pymnt_Ovrd      139659 non-null  float64
 15  No_Of_Pymnts        139659 non-null  int64
 16  No_Of_Lt_Pymnts     139659 non-null  int64
 17  No_Of_Ovrd_Pymnts   139659 non-null  int64
 18  Ttl_LtF_Pd          139659 non-null  float64
 19  Ttl_Lt_Fee_Ovrd     139659 non-null  float64
 20  Unique_Mrchnt_Cnt   139659 non-null  int64
 21  Top_Mrchnt          139659 non-null  object
 22  Frst_Trnsctn_Dt     139659 non-null  datetime64[ns]
 23  Lst_Trnsctn_Dt      139659 non-null  datetime64[ns]
 24  No_of_Transactions  139659 non-null  int64
 25  Ttl_Tenure          139659 non-null  int64
 26  Max_Sequence        139659 non-null  int64
 27  Ttl_NR_Emails       139659 non-null  int64
 28  Ttl_Open            139659 non-null  int64
 29  Ttl_Bounce          139659 non-null  int64
 30  Ttl_Clicked         139659 non-null  int64
 31  Ttl_Unsbsrcb        139659 non-null  int64
 32  Ttl_Spam            139659 non-null  int64
 33  Open_Engagement     139659 non-null  int64
 34  Click_Engagement    139659 non-null  int64
 35  Opn_Prop            139659 non-null  float64
 36  Clck_Prop           139659 non-null  float64
dtypes: datetime64[ns](3), float64(14), int64(15), object(5)
memory usage: 40.5+ MB
None

In [ ]:
#print(data.dtypes)

In [ ]:
data = data.drop(columns=['Ttl_NR_Emails', 'Ttl_Open', 'Ttl_Bounce', 'Ttl_Clicked', 'Ttl_Unsbsrcb', 'Ttl_Spam', 'Open_Engagement','Opn_Prop','Clck_Prop'])

In [ ]:
print(list(data.columns))

['AcctID', 'PlaceDate', 'CMState', 'PlaceAmt', 'Age_Bracket', 'TU_Band', 'Ttl_Prchs_Amt', 'Avg_Prchs_Amt', 'Max_Prchs_Amt', 'Ttl_Pymnt_Pd', 'Avg_Pymnt_Pd', 'Max_Pymnt_Pd', 'Ttl_Pymnt_Ovrd', 'Avg_Pymnt_Ovrd', 'Max_Pymnt_Ovrd', 'No_Of_Pymnts', 'No_Of_Lt_Pymnts', 'No_Of_Ovrd_Pymnts', 'Ttl_LtF_Pd', 'Ttl_Lt_Fee_Ovrd', 'Unique_Mrchnt_Cnt', 'Top_Mrchnt', 'Frst_Trnsctn_Dt', 'Lst_Trnsctn_Dt', 'No_of_Transactions', 'Ttl_Tenure', 'Max_Sequence', 'Click_Engagement']

In [ ]:
df = pd.DataFrame(data)

In [ ]:
#print(df.dtypes)

In [ ]:
list(df.select_dtypes(['object']).columns)

['AcctID', 'CMState', 'Age_Bracket', 'TU_Band', 'Top_Mrchnt']

In [ ]:
df1 = df.drop(columns=['AcctID'])

In [ ]:
print(df1.dtypes)

PlaceDate             datetime64[ns]
CMState                       object
PlaceAmt                     float64
Age_Bracket                   object
TU_Band                       object
Ttl_Prchs_Amt                float64
Avg_Prchs_Amt                float64
Max_Prchs_Amt                float64
Ttl_Pymnt_Pd                 float64
Avg_Pymnt_Pd                 float64
Max_Pymnt_Pd                 float64
Ttl_Pymnt_Ovrd               float64
Avg_Pymnt_Ovrd               float64
Max_Pymnt_Ovrd               float64
No_Of_Pymnts                   int64
No_Of_Lt_Pymnts                int64
No_Of_Ovrd_Pymnts              int64
Ttl_LtF_Pd                   float64
Ttl_Lt_Fee_Ovrd              float64
Unique_Mrchnt_Cnt              int64
Top_Mrchnt                    object
Frst_Trnsctn_Dt       datetime64[ns]
Lst_Trnsctn_Dt        datetime64[ns]
No_of_Transactions             int64
Ttl_Tenure                     int64
Max_Sequence                   int64
Click_Engagement               int64
dtype: object

In [ ]:
#Create Transaction Window Variable
df1['Trnsctn_Wnd'] = df1.apply(lambda row: 
                              row.Lst_Trnsctn_Dt - row.Frst_Trnsctn_Dt, axis = 1)
df1['Trnsctn_Wnd'] = df1['Trnsctn_Wnd'].dt.days.astype('int64')

In [ ]:
#df1 = df1.drop(columns=['Lst_Trnsctn_Dt', 'Frst_Trnsctn_Dt'])

In [ ]:
list(df1.select_dtypes(['object']).columns)

['CMState', 'Age_Bracket', 'TU_Band', 'Top_Mrchnt']

In [ ]:
#TU1 = np.unique(df1['TU_Band'])
#print(TU1)

In [ ]:
#Age1 = np.unique(df1['Age_Bracket'])
#print(Age1)

In [ ]:
list(df1.select_dtypes(['object']).columns)

['CMState', 'Age_Bracket', 'TU_Band', 'Top_Mrchnt']

In [ ]:
print(df1.dtypes)

PlaceDate             datetime64[ns]
CMState                       object
PlaceAmt                     float64
Age_Bracket                   object
TU_Band                       object
Ttl_Prchs_Amt                float64
Avg_Prchs_Amt                float64
Max_Prchs_Amt                float64
Ttl_Pymnt_Pd                 float64
Avg_Pymnt_Pd                 float64
Max_Pymnt_Pd                 float64
Ttl_Pymnt_Ovrd               float64
Avg_Pymnt_Ovrd               float64
Max_Pymnt_Ovrd               float64
No_Of_Pymnts                   int64
No_Of_Lt_Pymnts                int64
No_Of_Ovrd_Pymnts              int64
Ttl_LtF_Pd                   float64
Ttl_Lt_Fee_Ovrd              float64
Unique_Mrchnt_Cnt              int64
Top_Mrchnt                    object
Frst_Trnsctn_Dt       datetime64[ns]
Lst_Trnsctn_Dt        datetime64[ns]
No_of_Transactions             int64
Ttl_Tenure                     int64
Max_Sequence                   int64
Click_Engagement               int64
Trnsctn_Wnd                    int64
dtype: object

In [ ]:
#Create functions for EDA
# def eda_categorical(data, variable, ax=None):
#     variable_df = data[variable].value_counts(normalize = True).reset_index()
#     n_colors = len(variable_df)
#     variable_df.set_index('index').T.plot(kind = 'barh', 
#                                          stacked = True, 
#                                          colormap = ListedColormap(sns.color_palette("Set1", n_colors)), 
#                                          width = 0.15, ax=ax)

# def multiple_eda_categorical(data, list_categorical):
#     n_rows = math.ceil(len(list_categorical)/2)
#     fig = plt.figure(figsize=(12, n_rows*3))
    
#     for i, variable in enumerate(list_categorical):
#         ax = fig.add_subplot(n_rows, 2, i+1)
#         eda_categorical(data, variable, ax=ax)
#         plt.tight_layout()
        
#         plt.show()

# def multiple_eda_continuous(data, list_continuous):
#     n_rows = math.ceil(len(list_continuous)/3)
#     fig = plt.figure(figsize=(12, n_rows*5))
#     palette = sns.color_palette('Set1', 3)
    
#     for i, variable in enumerate(list_continuous):
#         ax = fig.add_subplot(n_rows, 6, i+1)
#         sns.boxplot(x=variable, data=data, orient='v', palette=[palette[i]], ax=ax)
#         ax.set_ylabel('')
#         ax.set_title(variable)
        
#         plt.show()

In [ ]:
#list(df1.select_dtypes(include=np.number).columns) #Name numeric type columns

In [ ]:
#list(df1.select_dtypes(exclude=np.number).columns) #Name non-numeric type columns

In [ ]:
#df1 = df1.drop(columns=['PlaceDate','Frst_Trnsctn_Dt','Lst_Trnsctn_Dt'])

# WOE and IV

In [ ]:
#Create parser for columns
continuous, categorical = [], []
filter = ['CMState', 'Age_Bracket','TU_Band','Top_Mrchnt']

for col in [c for c in df1.columns if c not in filter and c != 'Opn_Prop']:
    if is_numeric_dtype(df1[col]):
        continuous.append(col)
    else:
        categorical.append(col)

In [ ]:
#multiple_eda_categorical(df1, categorical)

In [ ]:
#EDA for continuous features
df12 = df1.drop(columns=['CMState', 'Age_Bracket','TU_Band','Top_Mrchnt'])
#df12_num = df12.select_dtypes(include=['float64', 'int64'])
#df12_num.hist(figsize=(16, 20), bins=50, xlabelsize=8, ylabelsize=8)

In [ ]:
#Run WoE and IV on all independent variables

#Define IV and WoE data
def iv_woe(data, target, bins=10, show_woe=False):
    
    #Empty Dataframe
    newDF= pd.DataFrame()
    woeDF= pd.DataFrame()
    
    #Extract Columns Names
    cols = data.columns
    
    #Run WOE and IV on all the independent variables
    for ivars in cols[~cols.isin([target])]:
        if (data[ivars].dtype.kind in 'bifc') and (len(np.unique(data[ivars]))>10):
            binned_x = pd.qcut(data[ivars], bins,  duplicates='drop')
            d0 = pd.DataFrame({'x': binned_x, 'y': data[target]})
        else:
            d0 = pd.DataFrame({'x': data[ivars], 'y': data[target]})
        
        #Calculate the number of events in each group
        d = d0.groupby("x", as_index=False).agg({"y": ["count", "sum"]})
        d.columns = ['Cutoff', 'N', 'Events']
        # Calculate % of events in each group
        d['% of Events'] = np.maximum(d['Events'], 0.5) / d['Events'].sum()
        
        # Calculate the non events in each group.
        d['Non-Events'] = d['N'] - d['Events']
        # Calculate % of non events in each group.
        d['% of Non-Events'] = np.maximum(d['Non-Events'], 0.5) / d['Non-Events'].sum()
        
        # Calculate WOE by taking natural log of division of % of non-events and % of events
        d['WoE'] = np.log(d['% of Events']/d['% of Non-Events'])
        #Calculate by multiplying delta of events and non-events with WoE
        d['IV'] = d['WoE'] * (d['% of Events'] - d['% of Non-Events'])
        d.insert(loc=0, column='Variable', value=ivars)
        
        print("Information value of " + ivars + " is " + str(round(d['IV'].sum(),6)))
        temp =pd.DataFrame({"Variable" : [ivars], "IV" : [d['IV'].sum()]}, columns = ["Variable", "IV"])
        
        newDF=pd.concat([newDF,temp], axis=0)
        woeDF=pd.concat([woeDF,d], axis=0)
        
        #Show WoE Table
        if show_woe == True:
            print(d)
        
    return newDF, woeDF

In [ ]:
#Calculate WoE and IV for all variables
iv, woe = iv_woe(data=df1, target='Click_Engagement', bins=10, show_woe=True)
print(woe)
print(iv)

Information value of CMState is 0.008639
   Variable Cutoff      N  Events  % of Events  Non-Events  % of Non-Events  \
0   CMState     AK    101      14     0.000632          87         0.000740
1   CMState     AL   4679     792     0.035771        3887         0.033076
2   CMState     AR   1659     262     0.011833        1397         0.011888
3   CMState     AZ   2717     445     0.020098        2272         0.019333
4   CMState     CA  13129    2207     0.099679       10922         0.092939
5   CMState     CO   1352     240     0.010840        1112         0.009462
6   CMState     CT   1806     298     0.013459        1508         0.012832
7   CMState     DC    685     103     0.004652         582         0.004952
8   CMState     DE    740     110     0.004968         630         0.005361
9   CMState     FL  11498    1781     0.080439        9717         0.082685
10  CMState     GA  10590    1747     0.078903        8843         0.075248
11  CMState     HI    126      41     0.001852          85         0.000723
12  CMState     IA    775     137     0.006188         638         0.005429
13  CMState     ID    352      59     0.002665         293         0.002493
14  CMState     IL   6625    1067     0.048191        5558         0.047295
15  CMState     IN      2       1     0.000045           1         0.000009
16  CMState     KS    782     134     0.006052         648         0.005514
17  CMState     KY   2044     284     0.012827        1760         0.014976
18  CMState     LA   4136     641     0.028951        3495         0.029740
19  CMState     MA   2162     355     0.016034        1807         0.015376
20  CMState     MD   4682     766     0.034596        3916         0.033323
21  CMState     ME    261      42     0.001897         219         0.001864
22  CMState     MI   4791     804     0.036313        3987         0.033927
23  CMState     MN   1218     198     0.008943        1020         0.008680
24  CMState     MO   2740     403     0.018202        2337         0.019886
25  CMState     MS   3313     560     0.025292        2753         0.023426
26  CMState     NC   7584    1125     0.050811        6459         0.054962
27  CMState     ND    131      14     0.000632         117         0.000996
28  CMState     NE    447      80     0.003613         367         0.003123
29  CMState     NJ   4793     762     0.034416        4031         0.034301
30  CMState     NM    604      92     0.004155         512         0.004357
31  CMState     NV   1634     254     0.011472        1380         0.011743
32  CMState     OH      3       2     0.000090           1         0.000009
33  CMState     OK   1331     199     0.008988        1132         0.009633
34  CMState     PA   6191     938     0.042365        5253         0.044700
35  CMState     RI    531      76     0.003433         455         0.003872
36  CMState     SC   4616     694     0.031345        3922         0.033374
37  CMState     SD    133      26     0.001174         107         0.000910
38  CMState     TN   4058     707     0.031932        3351         0.028515
39  CMState     TX  16580    2340     0.105686       14240         0.121173
40  CMState     UT    669     114     0.005149         555         0.004723
41  CMState     VA   5015     841     0.037984        4174         0.035518
42  CMState     VT     95      16     0.000723          79         0.000672
43  CMState     WA   1452     261     0.011788        1191         0.010135
44  CMState     WV    747      86     0.003884         661         0.005625
45  CMState     WY     80      23     0.001039          57         0.000485

         WoE            IV
0  -0.157690  1.703072e-05
1   0.078329  2.110930e-04
2  -0.004577  2.485094e-07
3   0.038819  2.970623e-05
4   0.070015  4.719303e-04
5   0.135884  1.871445e-04
6   0.047714  2.992246e-05
7  -0.062581  1.880121e-05
8  -0.076079  2.987793e-05
9  -0.027542  6.186376e-05
10  0.047434  1.733886e-04
11  0.940081  1.060858e-03
12  0.130803  9.923507e-05
13  0.066525  1.140938e-05
14  0.018773  1.682547e-05
15  1.669160  6.118432e-05
16  0.093110  5.009959e-05
17 -0.154934  3.330388e-04
18 -0.026899  2.123147e-05
19  0.041855  2.750852e-05
20  0.037517  4.779220e-05
21  0.017758  5.929319e-07
22  0.067965  1.621657e-04
23  0.029870  7.860591e-06
24 -0.088526  1.491482e-04
25  0.076651  1.430490e-04
26 -0.078531  3.259887e-04
27 -0.453956  1.649137e-04
28  0.145825  7.149524e-05
29  0.003337  3.826494e-07
30 -0.047376  9.550556e-06
31 -0.023344  6.325129e-06
32  2.362308  1.932859e-04
33 -0.069276  4.466338e-05
34 -0.053644  1.252428e-04
35 -0.120404  5.288145e-05
36 -0.062725  1.272712e-04
37  0.254428  6.711641e-05
38  0.113177  3.867178e-04
39 -0.136744  2.117699e-03
40  0.086391  3.681440e-05
41  0.067122  1.655140e-04
42  0.072301  3.644260e-06
43  0.151132  2.498923e-04
44 -0.370246  6.444036e-04
45  0.761603  4.217491e-04
Information value of PlaceAmt is 0.028725
   Variable             Cutoff      N  Events  % of Events  Non-Events  \
0  PlaceAmt    (15.009, 31.96]  13977    1886     0.085181       12091
1  PlaceAmt     (31.96, 44.59]  13966    1927     0.087033       12039
2  PlaceAmt     (44.59, 60.14]  13959    1951     0.088117       12008
3  PlaceAmt      (60.14, 79.2]  13972    1995     0.090104       11977
4  PlaceAmt     (79.2, 103.52]  13956    2141     0.096698       11815
5  PlaceAmt   (103.52, 134.11]  13967    2210     0.099815       11757
6  PlaceAmt   (134.11, 175.96]  13965    2236     0.100989       11729
7  PlaceAmt    (175.96, 243.0]  13970    2309     0.104286       11661
8  PlaceAmt   (243.0, 370.732]  13961    2441     0.110248       11520
9  PlaceAmt  (370.732, 2445.2]  13966    3045     0.137528       10921

   % of Non-Events       WoE            IV
0         0.102886 -0.188843  3.343467e-03
1         0.102444 -0.163027  2.512366e-03
2         0.102180 -0.148071  2.082321e-03
3         0.101916 -0.123184  1.455042e-03
4         0.100538 -0.038936  1.494911e-04
5         0.100044 -0.002296  5.267314e-07
6         0.099806  0.011785  1.394265e-05
7         0.099227  0.049725  2.515496e-04
8         0.098028  0.117484  1.435698e-03
9         0.092930  0.391974  1.748094e-02
Information value of Age_Bracket is 0.00264
      Variable   Cutoff      N  Events  % of Events  Non-Events  \
0  Age_Bracket    18-30  62207    9404     0.424732       52803
1  Age_Bracket    30-45  58535    9583     0.432817       48952
2  Age_Bracket    45-60  15805    2665     0.120365       13140
3  Age_Bracket  60 Plus   3112     489     0.022086        2623

   % of Non-Events       WoE        IV
0         0.449318 -0.056272  0.001384
1         0.416549  0.038311  0.000623
2         0.111813  0.073703  0.000630
3         0.022320 -0.010551  0.000002
Information value of TU_Band is 0.02229
  Variable         Cutoff      N  Events  % of Events  Non-Events  \
0  TU_Band          0-550  13480    1964     0.088704       11516
1  TU_Band        551-603  23687    3145     0.142044       20542
2  TU_Band        604-710  84301   13317     0.601463       70984
3  TU_Band        711-780  17287    3483     0.157310       13804
4  TU_Band        781-850    845     214     0.009665         631
5  TU_Band  Not Avaialble     59      18     0.000813          41

   % of Non-Events       WoE        IV
0         0.097993 -0.099594  0.000925
1         0.174799 -0.207497  0.006796
2         0.604027 -0.004253  0.000011
3         0.117463  0.292096  0.011639
4         0.005369  0.587831  0.002525
5         0.000349  0.845960  0.000393
Information value of Ttl_Prchs_Amt is 0.037043
        Variable              Cutoff      N  Events  % of Events  Non-Events  \
0  Ttl_Prchs_Amt      (20.049, 70.1]  13968    1737     0.078452       12231
1  Ttl_Prchs_Amt     (70.1, 100.966]  13964    1876     0.084730       12088
2  Ttl_Prchs_Amt  (100.966, 135.564]  13966    1990     0.089879       11976
3  Ttl_Prchs_Amt   (135.564, 172.39]  13967    2015     0.091008       11952
4  Ttl_Prchs_Amt    (172.39, 214.38]  13965    2096     0.094666       11869
5  Ttl_Prchs_Amt     (214.38, 269.9]  13971    2138     0.096563       11833
6  Ttl_Prchs_Amt     (269.9, 341.97]  13961    2282     0.103067       11679
7  Ttl_Prchs_Amt   (341.97, 451.284]  13965    2395     0.108170       11570
8  Ttl_Prchs_Amt  (451.284, 662.136]  13966    2520     0.113816       11446
9  Ttl_Prchs_Amt  (662.136, 4228.25]  13966    3092     0.139650       10874

   % of Non-Events       WoE        IV
0         0.104078 -0.282654  0.007243
1         0.102861 -0.193911  0.003516
2         0.101908 -0.125610  0.001511
3         0.101704 -0.111119  0.001189
4         0.100997 -0.064739  0.000410
5         0.100691 -0.041861  0.000173
6         0.099381  0.036420  0.000134
7         0.098453  0.094128  0.000915
8         0.097398  0.155779  0.002558
9         0.092531  0.411604  0.019395
Information value of Avg_Prchs_Amt is 0.009258
        Variable              Cutoff      N  Events  % of Events  Non-Events  \
0  Avg_Prchs_Amt       (7.97, 60.49]  13967    1793     0.080981       12174
1  Avg_Prchs_Amt       (60.49, 80.8]  13968    2053     0.092724       11915
2  Avg_Prchs_Amt     (80.8, 100.012]  13963    2144     0.096834       11819
3  Avg_Prchs_Amt    (100.012, 120.5]  13972    2298     0.103789       11674
4  Avg_Prchs_Amt     (120.5, 143.03]  13962    2182     0.098550       11780
5  Avg_Prchs_Amt    (143.03, 168.88]  13967    2309     0.104286       11658
6  Avg_Prchs_Amt    (168.88, 200.31]  13964    2336     0.105506       11628
7  Avg_Prchs_Amt   (200.31, 246.191]  13964    2244     0.101350       11720
8  Avg_Prchs_Amt  (246.191, 326.414]  13966    2347     0.106002       11619
9  Avg_Prchs_Amt  (326.414, 1988.35]  13966    2435     0.109977       11531

   % of Non-Events       WoE        IV
0         0.103593 -0.246252  0.005568
1         0.101389 -0.089336  0.000774
2         0.100572 -0.037875  0.000142
3         0.099338  0.043835  0.000195
4         0.100240 -0.017001  0.000029
5         0.099202  0.049982  0.000254
6         0.098947  0.064185  0.000421
7         0.099729  0.016124  0.000026
8         0.098870  0.069657  0.000497
9         0.098121  0.114068  0.001352
Information value of Max_Prchs_Amt is 0.017865
        Variable              Cutoff      N  Events  % of Events  Non-Events  \
0  Max_Prchs_Amt     (11.439, 64.64]  13980    1739     0.078542       12241
1  Max_Prchs_Amt      (64.64, 89.28]  13953    1936     0.087440       12017
2  Max_Prchs_Amt      (89.28, 113.3]  13968    2067     0.093356       11901
3  Max_Prchs_Amt     (113.3, 140.44]  13965    2130     0.096202       11835
4  Max_Prchs_Amt    (140.44, 169.54]  13967    2186     0.098731       11781
5  Max_Prchs_Amt   (169.54, 200.468]  13962    2273     0.102660       11689
6  Max_Prchs_Amt   (200.468, 241.24]  13968    2295     0.103654       11673
7  Max_Prchs_Amt     (241.24, 299.0]  13972    2454     0.110835       11518
8  Max_Prchs_Amt    (299.0, 387.504]  13958    2487     0.112326       11471
9  Max_Prchs_Amt  (387.504, 1988.35]  13966    2574     0.116255       11392

   % of Non-Events       WoE        IV
0         0.104163 -0.282320  0.007233
1         0.102257 -0.156538  0.002319
2         0.101270 -0.081364  0.000644
3         0.100708 -0.045779  0.000206
4         0.100248 -0.015254  0.000023
5         0.099466  0.031613  0.000101
6         0.099329  0.042615  0.000184
7         0.098011  0.122969  0.001577
8         0.097611  0.140415  0.002066
9         0.096938  0.181710  0.003510
Information value of Ttl_Pymnt_Pd is 0.035333
       Variable              Cutoff      N  Events  % of Events  Non-Events  \
0  Ttl_Pymnt_Pd     (-0.001, 27.04]  13969    1665     0.075200       12304
1  Ttl_Pymnt_Pd     (27.04, 47.466]  13963    1920     0.086717       12043
2  Ttl_Pymnt_Pd     (47.466, 64.36]  13972    1902     0.085904       12070
3  Ttl_Pymnt_Pd      (64.36, 83.35]  13961    2066     0.093311       11895
4  Ttl_Pymnt_Pd     (83.35, 106.83]  13965    2126     0.096021       11839
5  Ttl_Pymnt_Pd    (106.83, 136.44]  13968    2243     0.101305       11725
6  Ttl_Pymnt_Pd    (136.44, 175.18]  13965    2267     0.102389       11698
7  Ttl_Pymnt_Pd     (175.18, 235.3]  13965    2390     0.107945       11575
8  Ttl_Pymnt_Pd    (235.3, 348.832]  13965    2616     0.118152       11349
9  Ttl_Pymnt_Pd  (348.832, 2243.61]  13966    2946     0.133056       11020

   % of Non-Events       WoE        IV
0         0.104699 -0.330939  0.009762
1         0.102478 -0.166998  0.002632
2         0.102708 -0.178657  0.003002
3         0.101219 -0.081343  0.000643
4         0.100742 -0.047996  0.000227
5         0.099772  0.015251  0.000023
6         0.099542  0.028200  0.000080
7         0.098496  0.091606  0.000866
8         0.096572  0.201677  0.004352
9         0.093773  0.349897  0.013745
Information value of Avg_Pymnt_Pd is 0.01
       Variable              Cutoff      N  Events  % of Events  Non-Events  \
0  Avg_Pymnt_Pd     (-0.001, 23.06]  13969    1789     0.080800       12180
1  Avg_Pymnt_Pd     (23.06, 34.775]  13965    2008     0.090691       11957
2  Avg_Pymnt_Pd     (34.775, 46.69]  13968    2170     0.098008       11798
3  Avg_Pymnt_Pd      (46.69, 57.18]  13969    2169     0.097963       11800
4  Avg_Pymnt_Pd     (57.18, 69.696]  13959    2265     0.102299       11694
5  Avg_Pymnt_Pd     (69.696, 83.96]  13974    2394     0.108125       11580
6  Avg_Pymnt_Pd     (83.96, 103.12]  13961    2310     0.104331       11651
7  Avg_Pymnt_Pd    (103.12, 131.04]  13964    2369     0.106996       11595
8  Avg_Pymnt_Pd   (131.04, 180.452]  13964    2271     0.102570       11693
9  Avg_Pymnt_Pd  (180.452, 1655.66]  13966    2396     0.108216       11570

   % of Non-Events       WoE        IV
0         0.103644 -0.248978  0.005687
1         0.101746 -0.115017  0.001271
2         0.100393 -0.024042  0.000057
3         0.100410 -0.024673  0.000060
4         0.099508  0.027659  0.000077
5         0.098538  0.092847  0.000890
6         0.099142  0.051016  0.000265
7         0.098666  0.081054  0.000675
8         0.099500  0.030390  0.000093
9         0.098453  0.094546  0.000923
Information value of Max_Pymnt_Pd is 0.020022
       Variable              Cutoff      N  Events  % of Events  Non-Events  \
0  Max_Pymnt_Pd      (-0.001, 24.9]  13974    1708     0.077142       12266
1  Max_Pymnt_Pd       (24.9, 40.46]  13962    1925     0.086943       12037
2  Max_Pymnt_Pd      (40.46, 53.74]  13976    2040     0.092137       11936
3  Max_Pymnt_Pd      (53.74, 68.22]  13976    2070     0.093492       11906
4  Max_Pymnt_Pd      (68.22, 83.25]  13951    2262     0.102163       11689
5  Max_Pymnt_Pd      (83.25, 102.0]  13957    2297     0.103744       11660
6  Max_Pymnt_Pd     (102.0, 125.47]  13966    2341     0.105731       11625
7  Max_Pymnt_Pd     (125.47, 158.1]  13968    2456     0.110925       11512
8  Max_Pymnt_Pd    (158.1, 216.604]  13963    2456     0.110925       11507
9  Max_Pymnt_Pd  (216.604, 1655.66]  13966    2586     0.116797       11380

   % of Non-Events       WoE        IV
0         0.104375 -0.302348  0.008234
1         0.102427 -0.163899  0.002538
2         0.101567 -0.097449  0.000919
3         0.101312 -0.080333  0.000628
4         0.099466  0.026762  0.000072
5         0.099219  0.044600  0.000202
6         0.098921  0.066581  0.000453
7         0.097959  0.124304  0.001612
8         0.097917  0.124739  0.001623
9         0.096836  0.187415  0.003741
Information value of Ttl_Pymnt_Ovrd is 0.028035
         Variable              Cutoff      N  Events  % of Events  Non-Events  \
0  Ttl_Pymnt_Ovrd     (15.009, 26.47]  13972    1907     0.086130       12065
1  Ttl_Pymnt_Ovrd      (26.47, 37.82]  13961    1914     0.086446       12047
2  Ttl_Pymnt_Ovrd      (37.82, 52.07]  13969    1940     0.087620       12029
3  Ttl_Pymnt_Ovrd      (52.07, 69.86]  13969    1982     0.089517       11987
4  Ttl_Pymnt_Ovrd      (69.86, 91.43]  13960    2142     0.096744       11818
5  Ttl_Pymnt_Ovrd    (91.43, 119.998]  13964    2220     0.100266       11744
6  Ttl_Pymnt_Ovrd   (119.998, 158.53]  13969    2247     0.101486       11722
7  Ttl_Pymnt_Ovrd   (158.53, 221.168]  13963    2324     0.104964       11639
8  Ttl_Pymnt_Ovrd  (221.168, 340.164]  13966    2446     0.110474       11520
9  Ttl_Pymnt_Ovrd  (340.164, 1999.96]  13966    3019     0.136353       10947

   % of Non-Events       WoE        IV
0         0.102665 -0.175617  0.002904
1         0.102512 -0.170460  0.002739
2         0.102359 -0.155472  0.002291
3         0.102001 -0.130556  0.001630
4         0.100563 -0.038723  0.000148
5         0.099934  0.003325  0.000001
6         0.099746  0.017289  0.000030
7         0.099040  0.058089  0.000344
8         0.098028  0.119530  0.001488
9         0.093152  0.381021  0.016461
Information value of Avg_Pymnt_Ovrd is 0.005373
         Variable                       Cutoff      N  Events  % of Events  \
0  Avg_Pymnt_Ovrd  (3.2920000000000003, 23.04]  13978    1931     0.087214
1  Avg_Pymnt_Ovrd               (23.04, 31.25]  13967    2090     0.094395
2  Avg_Pymnt_Ovrd              (31.25, 39.542]  13954    2059     0.092995
3  Avg_Pymnt_Ovrd              (39.542, 49.22]  13972    2271     0.102570
4  Avg_Pymnt_Ovrd              (49.22, 60.515]  13959    2228     0.100628
5  Avg_Pymnt_Ovrd              (60.515, 74.68]  13971    2236     0.100989
6  Avg_Pymnt_Ovrd              (74.68, 92.576]  13960    2358     0.106499
7  Avg_Pymnt_Ovrd            (92.576, 118.971]  13966    2292     0.103518
8  Avg_Pymnt_Ovrd           (118.971, 165.371]  13966    2322     0.104873
9  Avg_Pymnt_Ovrd           (165.371, 1132.49]  13966    2354     0.106319

   Non-Events  % of Non-Events       WoE        IV
0       12047         0.102512 -0.161617  0.002472
1       11877         0.101065 -0.068279  0.000455
2       11895         0.101219 -0.084737  0.000697
3       11701         0.099568  0.029706  0.000089
4       11731         0.099823  0.008030  0.000006
5       11735         0.099857  0.011273  0.000013
6       11602         0.098725  0.075797  0.000589
7       11674         0.099338  0.041221  0.000172
8       11644         0.099083  0.056798  0.000329
9       11612         0.098810  0.073237  0.000550
Information value of Max_Pymnt_Ovrd is 0.013293
         Variable                      Cutoff      N  Events  % of Events  \
0  Max_Pymnt_Ovrd  (5.218999999999999, 24.62]  13983    1895     0.085588
1  Max_Pymnt_Ovrd              (24.62, 34.45]  13992    2013     0.090917
2  Max_Pymnt_Ovrd              (34.45, 44.97]  13924    1966     0.088795
3  Max_Pymnt_Ovrd              (44.97, 57.17]  13966    2155     0.097331
4  Max_Pymnt_Ovrd              (57.17, 73.07]  13974    2098     0.094756
5  Max_Pymnt_Ovrd              (73.07, 91.49]  13959    2309     0.104286
6  Max_Pymnt_Ovrd            (91.49, 115.896]  13963    2282     0.103067
7  Max_Pymnt_Ovrd           (115.896, 150.49]  13970    2404     0.108577
8  Max_Pymnt_Ovrd           (150.49, 214.292]  13962    2419     0.109254
9  Max_Pymnt_Ovrd          (214.292, 1132.49]  13966    2600     0.117429

   Non-Events  % of Non-Events       WoE        IV
0       12088         0.102861 -0.183834  0.003175
1       11979         0.101933 -0.114369  0.001260
2       11958         0.101755 -0.136239  0.001766
3       11811         0.100504 -0.032080  0.000102
4       11876         0.101057 -0.064375  0.000406
5       11650         0.099134  0.050669  0.000261
6       11681         0.099398  0.036249  0.000133
7       11566         0.098419  0.098225  0.000998
8       11543         0.098223  0.106435  0.001174
9       11366         0.096717  0.194045  0.004019
Information value of No_Of_Pymnts is 0.0314
       Variable         Cutoff      N  Events  % of Events  Non-Events  \
0  No_Of_Pymnts  (-0.001, 1.0]  82939   11974     0.540807       70965
1  No_Of_Pymnts     (1.0, 2.0]  31813    4989     0.225329       26824
2  No_Of_Pymnts     (2.0, 4.0]  16020    3108     0.140373       12912

In [ ]:
#View Information for all variables
iv

             Variable        IV
0             CMState  0.008639
0            PlaceAmt  0.028725
0         Age_Bracket  0.002640
0             TU_Band  0.022290
0       Ttl_Prchs_Amt  0.037043
0       Avg_Prchs_Amt  0.009258
0       Max_Prchs_Amt  0.017865
0        Ttl_Pymnt_Pd  0.035333
0        Avg_Pymnt_Pd  0.010000
0        Max_Pymnt_Pd  0.020022
0      Ttl_Pymnt_Ovrd  0.028035
0      Avg_Pymnt_Ovrd  0.005373
0      Max_Pymnt_Ovrd  0.013293
0        No_Of_Pymnts  0.031400
0     No_Of_Lt_Pymnts  0.002145
0   No_Of_Ovrd_Pymnts  0.021920
0          Ttl_LtF_Pd  0.001181
0     Ttl_Lt_Fee_Ovrd  0.016737
0   Unique_Mrchnt_Cnt  0.025415
0          Top_Mrchnt  0.137825
0  No_of_Transactions  0.030541
0          Ttl_Tenure  0.017632
0        Max_Sequence  0.025817
0         Trnsctn_Wnd  0.028404

In [ ]:
#Create a list of conditions for IV
conditions = [
    (iv['IV'] <= 0.02), 
    (iv['IV']> 0.02) & (iv['IV'] <= 0.1), 
    (iv['IV']> 0.1) & (iv['IV'] <= 0.3), 
    (iv['IV']> 0.3) & (iv['IV'] <= 0.5), 
    (iv['IV']> 0.5)
]

#Create a list of values we want to assign for each condition
definition = ['Not Useful', 'Weak', 'Medium', 'Strong', 'Suspicious']

# Create a new column and use np.select to assign values to it using our lists as arguments
iv['Predictor'] = np.select(conditions, definition)

In [ ]:
iv

             Variable        IV   Predictor
0             CMState  0.008639  Not Useful
0            PlaceAmt  0.028725        Weak
0         Age_Bracket  0.002640  Not Useful
0             TU_Band  0.022290        Weak
0       Ttl_Prchs_Amt  0.037043        Weak
0       Avg_Prchs_Amt  0.009258  Not Useful
0       Max_Prchs_Amt  0.017865  Not Useful
0        Ttl_Pymnt_Pd  0.035333        Weak
0        Avg_Pymnt_Pd  0.010000  Not Useful
0        Max_Pymnt_Pd  0.020022        Weak
0      Ttl_Pymnt_Ovrd  0.028035        Weak
0      Avg_Pymnt_Ovrd  0.005373  Not Useful
0      Max_Pymnt_Ovrd  0.013293  Not Useful
0        No_Of_Pymnts  0.031400        Weak
0     No_Of_Lt_Pymnts  0.002145  Not Useful
0   No_Of_Ovrd_Pymnts  0.021920        Weak
0          Ttl_LtF_Pd  0.001181  Not Useful
0     Ttl_Lt_Fee_Ovrd  0.016737  Not Useful
0   Unique_Mrchnt_Cnt  0.025415        Weak
0          Top_Mrchnt  0.137825      Medium
0  No_of_Transactions  0.030541        Weak
0          Ttl_Tenure  0.017632  Not Useful
0        Max_Sequence  0.025817        Weak
0         Trnsctn_Wnd  0.028404        Weak

In [ ]:
# #Apply one hot encoder to both categorical columns

# from sklearn.preprocessing import OneHotEncoder
# ohe = OneHotEncoder(categories='auto')

# array_hot_encoded = ohe.fit_transform(df1[['Age_Bracket','TU_Band']]).toarray() #fit transform to arrays
# feature_labels = ohe.get_feature_names()     #Extract categories
# feature_labels = np.array(feature_labels).ravel()

# features = pd.DataFrame(array_hot_encoded, columns=feature_labels)
# df6 = features

In [ ]:
df21 = df1['CMState']

# Top 10 Encoding

In [ ]:
# make list with top 10 variables
top_10 = [x for x in df1.CMState.value_counts().sort_values(ascending=False).head(10).index]
top_10

['TX', 'CA', 'FL', 'GA', 'NC', 'IL', 'PA', 'VA', 'NJ', 'MI']

In [ ]:
top_10n = [x for x in df1.Top_Mrchnt.value_counts().sort_values(ascending=False).head(10).index]
top_10n

['Fashion Nova',
 'SHEIN US OLD',
 'SHEIN US',
 'Ugg',
 'GOAT',
 'Finish Line',
 'Gift cards by Afterpay US',
 "Dillard's, Inc.",
 'GAP',
 "Children's Place"]

In [ ]:
# for all categorical variables we selected - Function Creation 
def top_x(df1,variable,top_x_labels):
    for label in top_x_labels:
        df1[variable +'_'+label] = np.where(data[variable]==label,1,0)

In [ ]:
# read the data again
#data = pd.read_csv('D://xdatasets/train.csv',usecols = ['Neighborhood','Exterior1st','Exterior2nd'])
#encode Nighborhood into the 10 most frequent categories
top_x(data,'CMState',top_10)
# display data
data.head()

,AcctID,PlaceDate,CMState,PlaceAmt,Age_Bracket,TU_Band,Ttl_Prchs_Amt,Avg_Prchs_Amt,Max_Prchs_Amt,Ttl_Pymnt_Pd,...,CMState_TX,CMState_CA,CMState_FL,CMState_GA,CMState_NC,CMState_IL,CMState_PA,CMState_VA,CMState_NJ,CMState_MI
0,552052,2022-01-21 16:00:39.540,FL,72.68,18-30,604-710,76.91,76.91,76.91,19.23,...,0,0,1,0,0,0,0,0,0,0
1,552054,2022-01-21 16:00:39.570,TN,28.47,18-30,604-710,40.95,40.95,40.95,20.48,...,0,0,0,0,0,0,0,0,0,0
2,552055,2022-01-21 16:00:39.583,MA,465.00,18-30,0-550,600.00,600.00,600.00,150.00,...,0,0,0,0,0,0,0,0,0,0
3,552063,2022-01-21 16:00:39.700,UT,172.13,30-45,604-710,197.91,197.91,197.91,49.48,...,0,0,0,0,0,0,0,0,0,0
4,552064,2022-01-21 16:00:39.720,RI,95.50,30-45,604-710,127.33,127.33,127.33,31.83,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
top_x(data,'Top_Mrchnt',top_10n)
# display data
data.head()

,AcctID,PlaceDate,CMState,PlaceAmt,Age_Bracket,TU_Band,Ttl_Prchs_Amt,Avg_Prchs_Amt,Max_Prchs_Amt,Ttl_Pymnt_Pd,...,Top_Mrchnt_Fashion Nova,Top_Mrchnt_SHEIN US OLD,Top_Mrchnt_SHEIN US,Top_Mrchnt_Ugg,Top_Mrchnt_GOAT,Top_Mrchnt_Finish Line,Top_Mrchnt_Gift cards by Afterpay US,"Top_Mrchnt_Dillard's, Inc.",Top_Mrchnt_GAP,Top_Mrchnt_Children's Place
0,552052,2022-01-21 16:00:39.540,FL,72.68,18-30,604-710,76.91,76.91,76.91,19.23,...,0,0,0,0,0,0,0,0,0,0
1,552054,2022-01-21 16:00:39.570,TN,28.47,18-30,604-710,40.95,40.95,40.95,20.48,...,0,0,0,0,0,0,0,0,0,0
2,552055,2022-01-21 16:00:39.583,MA,465.00,18-30,0-550,600.00,600.00,600.00,150.00,...,0,0,0,0,0,0,0,0,0,0
3,552063,2022-01-21 16:00:39.700,UT,172.13,30-45,604-710,197.91,197.91,197.91,49.48,...,0,0,0,0,0,0,0,0,0,1
4,552064,2022-01-21 16:00:39.720,RI,95.50,30-45,604-710,127.33,127.33,127.33,31.83,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
print(list(data.columns))

['AcctID', 'PlaceDate', 'CMState', 'PlaceAmt', 'Age_Bracket', 'TU_Band', 'Ttl_Prchs_Amt', 'Avg_Prchs_Amt', 'Max_Prchs_Amt', 'Ttl_Pymnt_Pd', 'Avg_Pymnt_Pd', 'Max_Pymnt_Pd', 'Ttl_Pymnt_Ovrd', 'Avg_Pymnt_Ovrd', 'Max_Pymnt_Ovrd', 'No_Of_Pymnts', 'No_Of_Lt_Pymnts', 'No_Of_Ovrd_Pymnts', 'Ttl_LtF_Pd', 'Ttl_Lt_Fee_Ovrd', 'Unique_Mrchnt_Cnt', 'Top_Mrchnt', 'Frst_Trnsctn_Dt', 'Lst_Trnsctn_Dt', 'No_of_Transactions', 'Ttl_Tenure', 'Max_Sequence', 'Click_Engagement', 'CMState_TX', 'CMState_CA', 'CMState_FL', 'CMState_GA', 'CMState_NC', 'CMState_IL', 'CMState_PA', 'CMState_VA', 'CMState_NJ', 'CMState_MI', 'Top_Mrchnt_Fashion Nova', 'Top_Mrchnt_SHEIN US OLD', 'Top_Mrchnt_SHEIN US', 'Top_Mrchnt_Ugg', 'Top_Mrchnt_GOAT', 'Top_Mrchnt_Finish Line', 'Top_Mrchnt_Gift cards by Afterpay US', "Top_Mrchnt_Dillard's, Inc.", 'Top_Mrchnt_GAP', "Top_Mrchnt_Children's Place"]

In [ ]:
data = data.drop(columns=['AcctID'])

In [ ]:
#Create Transaction Window Variable
data['Trnsctn_Wnd'] = data.apply(lambda row: 
                              row.Lst_Trnsctn_Dt - row.Frst_Trnsctn_Dt, axis = 1)
data['Trnsctn_Wnd'] = data['Trnsctn_Wnd'].dt.days.astype('int64')

In [ ]:
list(data.select_dtypes('object'))

['CMState', 'Age_Bracket', 'TU_Band', 'Top_Mrchnt']

In [ ]:
print(list(data.columns))

['PlaceDate', 'CMState', 'PlaceAmt', 'Age_Bracket', 'TU_Band', 'Ttl_Prchs_Amt', 'Avg_Prchs_Amt', 'Max_Prchs_Amt', 'Ttl_Pymnt_Pd', 'Avg_Pymnt_Pd', 'Max_Pymnt_Pd', 'Ttl_Pymnt_Ovrd', 'Avg_Pymnt_Ovrd', 'Max_Pymnt_Ovrd', 'No_Of_Pymnts', 'No_Of_Lt_Pymnts', 'No_Of_Ovrd_Pymnts', 'Ttl_LtF_Pd', 'Ttl_Lt_Fee_Ovrd', 'Unique_Mrchnt_Cnt', 'Top_Mrchnt', 'Frst_Trnsctn_Dt', 'Lst_Trnsctn_Dt', 'No_of_Transactions', 'Ttl_Tenure', 'Max_Sequence', 'Click_Engagement', 'CMState_TX', 'CMState_CA', 'CMState_FL', 'CMState_GA', 'CMState_NC', 'CMState_IL', 'CMState_PA', 'CMState_VA', 'CMState_NJ', 'CMState_MI', 'Top_Mrchnt_Fashion Nova', 'Top_Mrchnt_SHEIN US OLD', 'Top_Mrchnt_SHEIN US', 'Top_Mrchnt_Ugg', 'Top_Mrchnt_GOAT', 'Top_Mrchnt_Finish Line', 'Top_Mrchnt_Gift cards by Afterpay US', "Top_Mrchnt_Dillard's, Inc.", 'Top_Mrchnt_GAP', "Top_Mrchnt_Children's Place", 'Trnsctn_Wnd']

In [ ]:
df61 = data.drop(columns=['TU_Band','Age_Bracket'])

# One Hot Encoding

In [ ]:
from sklearn.preprocessing import OneHotEncoder
ohe = OneHotEncoder(categories='auto')

array_hot_encoded = ohe.fit_transform(data[['Age_Bracket','TU_Band']]).toarray() #fit transform to arrays
feature_labels = ohe.get_feature_names()     #Extract categories
feature_labels = np.array(feature_labels).ravel()

features = pd.DataFrame(array_hot_encoded, columns=feature_labels)
df6 = features

In [ ]:
df61 = df61.reset_index(drop=True)
df6 = df6.reset_index(drop=True)
dffinal = pd.concat([df61, df6], axis=1)

In [ ]:
#df12 = df12.reset_index(drop=True)
#dfnew = dfnew.reset_index(drop=True)
#dffinal = pd.concat([df12, dfnew], axis=1)

In [ ]:
#print(len(df12.columns))

In [ ]:
df7 = dffinal
#df7.head()
print(df7.dtypes)

PlaceDate                               datetime64[ns]
CMState                                         object
PlaceAmt                                       float64
Ttl_Prchs_Amt                                  float64
Avg_Prchs_Amt                                  float64
Max_Prchs_Amt                                  float64
Ttl_Pymnt_Pd                                   float64
Avg_Pymnt_Pd                                   float64
Max_Pymnt_Pd                                   float64
Ttl_Pymnt_Ovrd                                 float64
Avg_Pymnt_Ovrd                                 float64
Max_Pymnt_Ovrd                                 float64
No_Of_Pymnts                                     int64
No_Of_Lt_Pymnts                                  int64
No_Of_Ovrd_Pymnts                                int64
Ttl_LtF_Pd                                     float64
Ttl_Lt_Fee_Ovrd                                float64
Unique_Mrchnt_Cnt                                int64
Top_Mrchnt                                      object
Frst_Trnsctn_Dt                         datetime64[ns]
Lst_Trnsctn_Dt                          datetime64[ns]
No_of_Transactions                               int64
Ttl_Tenure                                       int64
Max_Sequence                                     int64
Click_Engagement                                 int64
CMState_TX                                       int32
CMState_CA                                       int32
CMState_FL                                       int32
CMState_GA                                       int32
CMState_NC                                       int32
CMState_IL                                       int32
CMState_PA                                       int32
CMState_VA                                       int32
CMState_NJ                                       int32
CMState_MI                                       int32
Top_Mrchnt_Fashion Nova                          int32
Top_Mrchnt_SHEIN US OLD                          int32
Top_Mrchnt_SHEIN US                              int32
Top_Mrchnt_Ugg                                   int32
Top_Mrchnt_GOAT                                  int32
Top_Mrchnt_Finish Line                           int32
Top_Mrchnt_Gift cards by Afterpay US             int32
Top_Mrchnt_Dillard's, Inc.                       int32
Top_Mrchnt_GAP                                   int32
Top_Mrchnt_Children's Place                      int32
Trnsctn_Wnd                                      int64
x0_18-30                                       float64
x0_30-45                                       float64
x0_45-60                                       float64
x0_60 Plus                                     float64
x1_0-550                                       float64
x1_551-603                                     float64
x1_604-710                                     float64
x1_711-780                                     float64
x1_781-850                                     float64
x1_Not Avaialble                               float64
dtype: object

In [ ]:
#print(df7.dtypes)

In [ ]:
print(list(df7.columns))

['PlaceDate', 'CMState', 'PlaceAmt', 'Ttl_Prchs_Amt', 'Avg_Prchs_Amt', 'Max_Prchs_Amt', 'Ttl_Pymnt_Pd', 'Avg_Pymnt_Pd', 'Max_Pymnt_Pd', 'Ttl_Pymnt_Ovrd', 'Avg_Pymnt_Ovrd', 'Max_Pymnt_Ovrd', 'No_Of_Pymnts', 'No_Of_Lt_Pymnts', 'No_Of_Ovrd_Pymnts', 'Ttl_LtF_Pd', 'Ttl_Lt_Fee_Ovrd', 'Unique_Mrchnt_Cnt', 'Top_Mrchnt', 'Frst_Trnsctn_Dt', 'Lst_Trnsctn_Dt', 'No_of_Transactions', 'Ttl_Tenure', 'Max_Sequence', 'Click_Engagement', 'CMState_TX', 'CMState_CA', 'CMState_FL', 'CMState_GA', 'CMState_NC', 'CMState_IL', 'CMState_PA', 'CMState_VA', 'CMState_NJ', 'CMState_MI', 'Top_Mrchnt_Fashion Nova', 'Top_Mrchnt_SHEIN US OLD', 'Top_Mrchnt_SHEIN US', 'Top_Mrchnt_Ugg', 'Top_Mrchnt_GOAT', 'Top_Mrchnt_Finish Line', 'Top_Mrchnt_Gift cards by Afterpay US', "Top_Mrchnt_Dillard's, Inc.", 'Top_Mrchnt_GAP', "Top_Mrchnt_Children's Place", 'Trnsctn_Wnd', 'x0_18-30', 'x0_30-45', 'x0_45-60', 'x0_60 Plus', 'x1_0-550', 'x1_551-603', 'x1_604-710', 'x1_711-780', 'x1_781-850', 'x1_Not Avaialble']

In [ ]:
#df7.drop(df7.columns[len(df7.columns)-1], axis=1, inplace=True)

In [ ]:
df7 = df7.drop(columns=['Top_Mrchnt','CMState'])

In [ ]:
print(df7.dtypes)

PlaceDate                               datetime64[ns]
PlaceAmt                                       float64
Ttl_Prchs_Amt                                  float64
Avg_Prchs_Amt                                  float64
Max_Prchs_Amt                                  float64
Ttl_Pymnt_Pd                                   float64
Avg_Pymnt_Pd                                   float64
Max_Pymnt_Pd                                   float64
Ttl_Pymnt_Ovrd                                 float64
Avg_Pymnt_Ovrd                                 float64
Max_Pymnt_Ovrd                                 float64
No_Of_Pymnts                                     int64
No_Of_Lt_Pymnts                                  int64
No_Of_Ovrd_Pymnts                                int64
Ttl_LtF_Pd                                     float64
Ttl_Lt_Fee_Ovrd                                float64
Unique_Mrchnt_Cnt                                int64
Frst_Trnsctn_Dt                         datetime64[ns]
Lst_Trnsctn_Dt                          datetime64[ns]
No_of_Transactions                               int64
Ttl_Tenure                                       int64
Max_Sequence                                     int64
Click_Engagement                                 int64
CMState_TX                                       int32
CMState_CA                                       int32
CMState_FL                                       int32
CMState_GA                                       int32
CMState_NC                                       int32
CMState_IL                                       int32
CMState_PA                                       int32
CMState_VA                                       int32
CMState_NJ                                       int32
CMState_MI                                       int32
Top_Mrchnt_Fashion Nova                          int32
Top_Mrchnt_SHEIN US OLD                          int32
Top_Mrchnt_SHEIN US                              int32
Top_Mrchnt_Ugg                                   int32
Top_Mrchnt_GOAT                                  int32
Top_Mrchnt_Finish Line                           int32
Top_Mrchnt_Gift cards by Afterpay US             int32
Top_Mrchnt_Dillard's, Inc.                       int32
Top_Mrchnt_GAP                                   int32
Top_Mrchnt_Children's Place                      int32
Trnsctn_Wnd                                      int64
x0_18-30                                       float64
x0_30-45                                       float64
x0_45-60                                       float64
x0_60 Plus                                     float64
x1_0-550                                       float64
x1_551-603                                     float64
x1_604-710                                     float64
x1_711-780                                     float64
x1_781-850                                     float64
x1_Not Avaialble                               float64
dtype: object

In [ ]:
#df7['New_Trnsctn_Wnd'] = df7['Trnsctn_Wnd'].seconds()

In [ ]:
df7 = df7.drop(columns=['PlaceDate','Frst_Trnsctn_Dt','Lst_Trnsctn_Dt'])

In [ ]:
#print(df.select_dtypes('Object'))
#pd.to_numeric(df7['Trnsctn_Wnd'])
#df7.astype({'Trnsctn_Wnd': 'float64'})
list(df7.select_dtypes(['object']).columns)
#list(df7.select_dtypes(['datetime64[ns]']).columns)
#list(df7.select_dtypes(['timedelta64[ns]']).columns)

[]

In [ ]:
from sklearn.impute import SimpleImputer

imp = SimpleImputer(strategy="most_frequent")
df7 = pd.DataFrame(imp.fit_transform(df7), columns=df7.columns, index=df7.index)

In [ ]:
list(df7.select_dtypes(['object']).columns)

[]

# Model Development

In [ ]:
#Create X & Y for model building
X = df7.drop(columns=['Click_Engagement'])
Y = df7['Click_Engagement']

In [ ]:
#Create test train split
from sklearn.model_selection import train_test_split

X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.25)

In [ ]:
#Import and train Logistic Regression CLassifier
from sklearn.linear_model import LogisticRegressionCV

clf = LogisticRegressionCV(cv=10,solver='liblinear') #Model function with 10 fold cross validation

clf.fit(X_train, Y_train) #Train the model using the training sets y_pred=clf.predict(X_test)

LogisticRegressionCV(cv=10, solver='liblinear')

In [ ]:
Y_pred = clf.predict(X_test)
Y_pred_train = clf.predict(X_train)

In [ ]:
#Model Performance Metrics
print("Model Metrics")

#Accuracy without cross validation
#Import scikit-learn metrics module for accuracy calculation
from sklearn import metrics
# Model Accuracy, how often is the classifier correct?
print("Test Accuracy:",metrics.accuracy_score(Y_test, Y_pred))
print("Train Accuracy:",metrics.accuracy_score(Y_train, Y_pred_train))

## Confusion Matrix
from sklearn.metrics import confusion_matrix
confusion_matrix(Y_test, Y_pred,labels=[1,0])

## Recall Score
recall1 = sklearn.metrics.recall_score(Y_test,Y_pred)
print("Test Recall:", recall1)

recall1 = sklearn.metrics.recall_score(Y_train,Y_pred_train)
print("Train Recall:", recall1)

## Precision Score
precision1 = sklearn.metrics.precision_score(Y_test,Y_pred)
print("Test Precision", precision1)

precision1 = sklearn.metrics.precision_score(Y_train,Y_pred_train)
print("Train Precision", precision1)

Model Metrics
Test Accuracy: 0.8490333667478162
Train Accuracy: 0.8483731765065302
Test Recall: 0.051463902527732315
Train Recall: 0.05389977166205985
Test Precision 0.8372781065088757
Train Precision 0.867504835589942